<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/gray/easyui.css" />
<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="../../css/common.css" />
<script type="text/javascript" src="../../js/jquery-easyui/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../js/validate.js"></script>
<script type="text/javascript" src="../../js/json2.js"></script>
<script type="text/javascript" src="../../js/jcdf-contants-1.0.js"></script>
<script type="text/javascript" src="../../js/jcdf-1.0.js"></script>
<script type="text/javascript" src="../../js/combobox-company.js"></script>
<script type="text/javascript" src="../../js/tool.js"></script>
<script type="text/javascript">
	var id_stats_dt="";
	var id_scor="";
	var id_indust_avg_scor="";
	var id_indust_nm="";
	var id_nm_cnt="";
	actionUrl = $$.QueryString("actionUrl");
	// var appId = localStorage.getItem("appId");
	var pageId = 'c9_cainiao_mark_form';
	var actionUrl;
	var actionId;
	var tableId;
	var mode = "";
	var callUrl;
	var getUrl = appId + "/actions/rate_settl_weight/getData.do?actionId=c9_cainiao_mark_getData";
	var formTemplate = "#form_c9_cainiao_mark";
	var listId = "c9_cainiao_mark_list";
	var ddicUrl = appId + '/actions/common/domain/getDomains.do?actionId=system_getDomains&domainId=';
	var editHistoryData = null;
	
	var urlResource = appId + "/actions/common/user/getResources.do?actionId=system_getResources&resource_id=";
	var urlActionForm = ""; //action form url
	var authActions = {}; //当前用户授权的行为项目
	var expellActions = {};
	
	$(function(){
		init();
		//保存按钮单击事件
		$("#btn_save").bind("click", function() {
			submitData();
		});
		//取消按钮单击事件
		$("#btn_cancel").bind("click", function(){
			$$.closeJcdfDialog();
		});
	});

	function init(){
		id_stats_dt=$$.QueryString("statsDt");
		id_scor=$$.QueryString("scor");
		id_indust_avg_scor=$$.QueryString("industAvgScor");
		id_indust_nm=$$.QueryString("industNm");
		id_nm_cnt=$$.QueryString("nmCnt");
		actionUrl = $$.QueryString("actionUrl");
		tableId = $$.QueryString("tableId");
		mode = $$.QueryString("mode");
		actionId = $$.QueryString("refActionId");
		
		
		callUrl = actionUrl+"?actionId="+actionId;
		if(mode=="edit"){
			$('#stats_dt').attr("disabled","disabled");
			$('#stats_dt').val(id_stats_dt);
			$('#scor').numberbox('setValue', id_scor);
			$('#indust_avg_scor').numberbox('setValue', id_indust_avg_scor);
			$('#indust_nm').numberbox('setValue', id_indust_nm);
			$('#nm_cnt').numberbox('setValue', id_nm_cnt);
		}else if(mode=="display"){
			loadEditData();
			$('#btn_save').attr({ "disabled": "disabled" });
		}
		else if( mode == "add" ){

		}

	};
	
	
	function submitData(){
		if (!$(formTemplate).form('validate')) {
			return false;
		}
		var jsonData = $$.serializeToJson(formTemplate);
		jsonData.stats_dt = id_stats_dt;
		if(!jsonData) return false;
		var json = { "search_condition" : JSON.stringify(jsonData)};
		//如果数据验证通过(即数据合法)
		$$.openProcessingDialog();
	
		//ajax提交数据
		$.ajax({
			type : "POST",
			url : callUrl,
			dataType : "json",
			data : json,
			success : function(data) {
				$$.closeProcessingDialog();
				if (data && data.errorCode==0) {
					$$.showJcdfMessager('提示消息', '操作成功', 'info');
					$$.closeJcdfDialog();
					$$.refreshJcdfDatagrid(tableId);
				} else {
					$$.showJcdfMessager('提示消息', data.msg+'('+data.errorCode+')', 'warning');
				}
			}
		});
	};
	</script>
</head>
<body>
	<form id="form_c9_cainiao_mark" class="form">
		<table>
			<tr align="left" >
				<td width="530" colspan="2" >
				<label>统计日期：</label><input type="text" id="stats_dt" name="stats_dt" />
				</td>
			</tr>
			<tr align="left">
				<td>
				<label>评分分数：</label><input id="scor" name="scor" class="easyui-numberbox" data-options="required:true,min:0,precision:2,width:150" />
				</td>
				<td>
				<label>行业平均分：</label><input id="indust_avg_scor" name="indust_avg_scor" class="easyui-numberbox" data-options="required:true,min:0,precision:2,width:150" />
				</td>
			</tr>
			<tr align="left">
				<td>
				<label>行业排名：</label><input id="indust_nm" name="indust_nm" class="easyui-numberbox" data-options="required:true,min:0,precision:0,width:150" />
				</td>
				<td>
				<label>名次升降数：</label><input id="nm_cnt" name="nm_cnt" class="easyui-numberbox" data-options="required:true,min:-50,precision:0,width:150" />
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center" style="padding: 20px;">
					<a id="btn_save" href="#" class="easyui-linkbutton" iconCls="icon-ok">确定</a>
					<a id="btn_cancel" href="#" class="easyui-linkbutton" iconCls="icon-cancel">取消</a>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>