<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.ydbi.seffect.dao.SEffectTransOpMapper" >
  	<sql id="condition_filter">
		<if test='sel_dbct_id!=null and sel_dbct_id != "" '>
			AND k.fisc_dbct_cd =#{sel_dbct_id,jdbcType=INTEGER}
		</if>
		<if test='sel_level!=null and sel_level == "1" '>
			AND k.grtr_dist_cd =#{sel_cd,jdbcType=INTEGER}
		</if>
		<if test='sel_level!=null and sel_level == "2" '>
			AND k.prov_cd =#{sel_cd,jdbcType=INTEGER}
		</if>
		<if test='sel_level!=null and sel_level == "3" '>
			AND k.city_cd =#{sel_cd,jdbcType=INTEGER}
		</if>
		<if test='sel_level!=null and sel_level == "5" '>
			AND k.org_cd = #{sel_cd,jdbcType=INTEGER}
		</if>
		and a.stats_dt >= k.start_tm
		and a.stats_dt &lt; k.end_tm
	</sql>
	<!-- #中转操作时效_日环比_周同比 -->
	<select id="getSeffectTransOp" parameterType="map" resultType="map">
		#中转操作时效_日环比_周同比
		select 
		FORMAT(round(IFNULL(a.trans_len,0),2),2) effect,
		FORMAT(IFNULL((round(a.trans_len,2) - round(b.trans_len_lastday,2))/round(b.trans_len_lastday,2)*100,0),2) dayFrom,
		FORMAT(IFNULL((round(a.trans_len,2) - round(c.trans_len_lastweek,2))/round(c.trans_len_lastweek,2)*100,0),2) weekFrom
		from 
			(select 
			a.stats_dt,
			0 as st,
			sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt) trans_len
			from bas_s_bigdata_qut_ctl a INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
			<where> a.stats_dt = #{curDate}
			<include refid="condition_filter"/>
    		</where>
			GROUP BY 1 union all select 0,0,0
				limit 1)a LEFT JOIN 
			(select 
			DATE_ADD(a.stats_dt,INTERVAL 1 DAY) stats_dt,
			0 as st,
			sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt) trans_len_lastday
			from bas_s_bigdata_qut_ctl a INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
			<where> a.stats_dt = DATE_SUB(#{curDate},INTERVAL 1 DAY)
			<include refid="condition_filter"/>
    		</where>
			GROUP BY 1
			union all select 0,0,0
		    limit 1
		  ) b on a.st = b.st LEFT JOIN 
			(select 
			DATE_ADD(a.stats_dt,INTERVAL 1 WEEK) stats_dt,
			0 as st,
			sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt) trans_len_lastweek
			from bas_s_bigdata_qut_ctl a INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
			<where> a.stats_dt = DATE_SUB(#{curDate},INTERVAL 1 WEEK)
			<include refid="condition_filter"/>
    		</where>
			GROUP BY 1
			union all select 0,0,0
			limit 1
		  ) c on b.st = c.st
		  
		  
	</select>
	
	<!-- # 中转操作时效_日月周平均 -->
	<select id="selectDwmAvgAmount" parameterType="map" resultType="map">
		# 中转操作时效_日月周平均
		select 
			FORMAT(IFNULL(a.effect_TransOp_last_day,0),2) last_day, 
			FORMAT(IFNULL(b.effect_TransOp_week_avg,0),2) week_avg,
			FORMAT(IFNULL(c.effect_TransOp_month_avg,0),2) month_avg
		FROM
			(select 
				stats_dt,
				0 as st,
			sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt) effect_TransOp_last_day
			from bas_s_bigdata_qut_ctl a INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
			<where> a.stats_dt = DATE_SUB(#{curDate},INTERVAL 1 DAY)
			<include refid="condition_filter"/>
	   		</where>
			GROUP BY 1
			union all select 0,0,0
		    limit 1
			) a LEFT JOIN 
			(SELECT 0 as st,
				 DATE_FORMAT(DATE_SUB(stats_dt,INTERVAL 1 DAY),'%X-%V') ymw,
				sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt) effect_TransOp_week_avg
			FROM
				bas_s_bigdata_qut_ctl a INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
			<where> a.stats_dt >= DATE_SUB(subdate(#{curDate},if(date_format(#{curDate},'%w')=0,7,date_format(#{curDate},'%w'))-1),INTERVAL 1 WEEK)
			and a.stats_dt &lt;= DATE_SUB(subdate(#{curDate},if(date_format(#{curDate},'%w')=0,7,date_format(#{curDate},'%w'))-7),INTERVAL 1 WEEK)
			<include refid="condition_filter"/>
	    	</where>
			GROUP BY ymw
			union all select 0,0,0
			limit 1
			) b on a.st = b.st LEFT JOIN 
			(SELECT
			 date_format(a.stats_dt, '%Y-%m'), 
			 0 as st,
			 sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt) effect_TransOp_month_avg
		FROM
			bas_s_bigdata_qut_ctl a INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
		<where>
			a.stats_dt >= date_format(#{curDate}, '%Y-%m-%01')
			and a.stats_dt &lt;= last_day(#{curDate})
		<include refid="condition_filter"/>
	    </where>
		GROUP BY 1
		union all select 0,0,0
		limit 1
		) c on b.st = c.st
	</select>
	
	<!-- 中转操作时效_日趋势图 -->
	<select id="seffectTransOpDTrend" parameterType="map" resultType="map">
	
	SELECT
			a.ymd dateline,
			format(round(IFNULL(SUM(a.effect_TransOp),0),2),2) active_val,
			format(round(IFNULL(SUM(b.effect_TransOp_last_week),0),2),2) same_time_val
		FROM
			(
				SELECT
					a.stats_dt ymd,
					sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt) AS effect_TransOp
				FROM
					bas_s_bigdata_qut_ctl a
				INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
				<where>
					a.stats_dt > DATE_ADD(#{curDate}, INTERVAL - 15 DAY)
				AND a.stats_dt &lt;= #{curDate}
				<include refid="condition_filter"/>
	   			</where>
				GROUP BY
					ymd
			) a
		LEFT JOIN (
			SELECT
				date_add(a.stats_dt, INTERVAL 7 DAY) AS ymd,
				sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt) AS effect_TransOp_last_week
			FROM
				bas_s_bigdata_qut_ctl a
			INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
			<where>
				a.stats_dt > date_add(
					DATE_ADD(#{curDate}, INTERVAL - 15 DAY),
					INTERVAL - 7 DAY
				)
			AND a.stats_dt &lt;= date_add(#{curDate}, INTERVAL - 7 DAY)
			<include refid="condition_filter"/>
	   		</where>
			GROUP BY
				ymd
		) b ON a.ymd = b.ymd
		GROUP BY 1 
		
	</select>
	
	 <!-- 中转操作时效(周度趋势) -->
	 <select id="seffectTransOpWTrend" parameterType="map" resultType="map">
		SELECT
			DATE_FORMAT(DATE_SUB(stats_dt,INTERVAL 1 DAY),'%X-%V') dateline,
			FORMAT(IFNULL(sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt),0),2) active_val,
			DATE_SUB(stats_dt,INTERVAL 1 WEEK) theDate
		from bas_s_bigdata_qut_ctl a
		INNER JOIN org_inf k
		  			ON a.dbct_cd = k.Org_Cd
		<where>
			DATE_FORMAT(DATE_SUB(stats_dt,INTERVAL 1 DAY),'%X-%V') BETWEEN DATE_FORMAT(DATE_SUB(DATE_SUB(#{curDate},INTERVAL 1 DAY),INTERVAL 7 WEEK),'%X-%V')
		AND  DATE_FORMAT(DATE_SUB(#{curDate},INTERVAL 1 DAY),'%X-%V')
		<include refid="condition_filter"/>
    	</where>
		GROUP BY
			1
		ORDER BY 1 
	 </select>
	 
	 <!--  <select id="seffectTransOpMTrendForActive" parameterType="map" resultType="map">
	 SELECT
			DATE_FORMAT(stats_dt, '%Y-%m') dateline,
			format(IFNULL(round(sum(a.trans_len * a.trans_cnt) / sum(a.trans_cnt),2),0),2) active_val
		FROM
			ydbi.bas_s_bigdata_qut_ctl a
		INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
		<where>
			a.stats_dt >= DATE_SUB(
				date_format(#{curDate}, '%Y-%m-%01'),
				INTERVAL 5 MONTH
			)
		AND a.stats_dt &lt;= last_day(#{curDate})
		<include refid="condition_filter"/>
		</where>
		GROUP BY
			1
		</select>
		
		<select id="seffectTransOpMTrendForSameTime" parameterType="map" resultType="map">
				SELECT
					DATE_FORMAT(stats_dt, '%Y-%m') dateline,
					format(IFNULL(round(sum(a.trans_len * a.trans_cnt) / sum(a.trans_cnt),2),0),2) same_time_val
				FROM
					ydbi.bas_s_bigdata_qut_ctl a
				INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
				<where>
					a.stats_dt >= DATE_SUB(
						DATE_SUB(
							date_format(#{curDate}, '%Y-%m-%01'),
							INTERVAL 5 MONTH
						),
						INTERVAL 1 YEAR
					)
				AND a.stats_dt &lt;= DATE_SUB(last_day(#{curDate}), INTERVAL 1 YEAR)
				<include refid="condition_filter"/>
		</where>
				GROUP BY
					1
		</select> -->
	 
	 
	<!-- 中转操作时效(月度趋势) -->
	<select id="seffectTransOpMTrend" parameterType="map" resultType="map">
		SELECT
			a.ym dateline,
			CONCAT(a.ym, '-', '01') theDate,
			format(
				round(IFNULL(a.effect_TransOp_active,0), 2),
				2
			) active_val,
			format(
				round(
					IFNULL(b.effect_TransOp_sameDate, 0),
					2
				),
				2
			) same_time_val
		FROM
			(
				SELECT
					DATE_FORMAT(stats_dt, '%Y-%m') ym,
					sum(a.trans_len * a.trans_cnt) / sum(a.trans_cnt) effect_TransOp_active
				FROM
					ydbi.bas_s_bigdata_qut_ctl a
				INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
			<where>
			        a.stats_dt >= DATE_SUB(date_format(#{curDate}, '%Y-%m-%01'),INTERVAL 5 MONTH)
					AND a.stats_dt &lt;= last_day(#{curDate})
			<include refid="condition_filter"/>
			</where>
				GROUP BY
					ym
			) a
		LEFT JOIN (
			SELECT
				DATE_ADD(a.ym, INTERVAL 1 YEAR) ym,
				a.effect_TransOp_sameDate
			FROM
				(
					SELECT
							DATE_FORMAT(stats_dt, '%Y-%m') ym,
							sum(a.trans_len * a.trans_cnt) / sum(a.trans_cnt) effect_TransOp_sameDate
						FROM
							ydbi.bas_s_bigdata_qut_ctl a
						INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
			<where>
				a.stats_dt >= DATE_SUB(DATE_SUB(date_format(#{curDate}, '%Y-%m-%01'),INTERVAL 5 MONTH),INTERVAL 1 YEAR)
				AND a.stats_dt &lt;= DATE_SUB(last_day(#{curDate}),INTERVAL 1 YEAR)
			<include refid="condition_filter"/>
			</where>
			GROUP BY
				ym
			) a
		) b ON a.ym = b.ym 
	  </select>
	
  
  <!-- 分拨中心_日_排名 -->
  <select id="dbctSortDay" parameterType="map" resultType="map">
	select 
			a.stats_dt,
			a.org_nm,
		  a.effect,
			CASE
			WHEN @preRank = effect THEN
				@curRank
			WHEN @preRank := effect THEN
				@curRank :=@curRank + 1
			WHEN @preRank = 0 THEN
				@curRank :=@curRank + 1
			END AS rank
		FROM(
		SELECT
			a.stats_dt,
			k.org_nm,
			format(
				IFNULL(
					sum(a.trans_len * a.trans_cnt) / sum(a.trans_cnt),
					0
				),
				2
			) effect
		FROM
			bas_s_bigdata_qut_ctl a 
	INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
		<where>
		a.stats_dt = #{curDate}
		and k.org_typ = 3
		<include refid="condition_filter"/>
		</where>
		GROUP BY
			1,
			2
		)a,
		 (
			SELECT
				@curRank := 0,
				@preRank := NULL
		) t
		ORDER BY effect+0
  </select>
  
  <!-- 分拨中心_周_排名 -->
  <select id="dbctSortWeek" parameterType="map" resultType="map">
	SELECT
			a.dateline,
		  a.org_nm,
		  a.effect,
			CASE
		WHEN @preRank = effect THEN
			@curRank
		WHEN @preRank := effect THEN
			@curRank :=@curRank + 1
		WHEN @preRank = 0 THEN
			@curRank :=@curRank + 1
		END AS rank
		from (
		SELECT
		 CONCAT(
				DATE_FORMAT(stats_dt, '%Y'),
				'-',
				WEEKOFYEAR(stats_dt)
			) dateline,
		 a.org_nm,
		 format(round(IFNULL(sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt),0),2),2) effect
		from (
		SELECT
			a.stats_dt,
			k.org_nm,
			a.trans_len,
		  a.trans_cnt
		FROM
		bas_s_bigdata_qut_ctl a
		INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd,
		 (
			SELECT
				@curRank := 0,
				@preRank := NULL
		) t
		<where>
			a.stats_dt >= subdate(#{curDate},if(date_format(#{curDate},'%w')=0,7,date_format(#{curDate},'%w'))-1)
		AND a.stats_dt &lt;= subdate(#{curDate},if(date_format(#{curDate},'%w')=0,7,date_format(#{curDate},'%w'))-7)
		<include refid="condition_filter"/>
		</where>
		GROUP BY
			1,2)a
		GROUP BY 1,2)a
		ORDER BY a.effect+0
  </select>
  
  <!-- 分拨中心_月_排名 -->
  <select id="dbctSortMonth" parameterType="map" resultType="map">
  	   SELECT
			a.dateline,
		  a.org_nm,
		  a.effect,
			CASE
		WHEN @preRank = effect THEN
			@curRank
		WHEN @preRank := effect THEN
			@curRank :=@curRank + 1
		WHEN @preRank = 0 THEN
			@curRank :=@curRank + 1
		END AS rank
		from (
		SELECT
		 DATE_FORMAT(stats_dt,'%Y-%m') dateline,
		 a.org_nm,
		 format(round(IFNULL(sum(a.trans_len*a.trans_cnt)/sum(a.trans_cnt),0),2),2) effect
		from (
		SELECT
			a.stats_dt,
			k.org_nm,
			a.trans_len,
		  a.trans_cnt
		FROM
		ydbi.bas_s_bigdata_qut_ctl a INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd ,
		 (
			SELECT
				@curRank := 0,
				@preRank := NULL
		) t
		<where>
		a.stats_dt >= date_format(#{curDate}, '%Y-%m-%01')
		and a.stats_dt &lt;= last_day(#{curDate})
		<include refid="condition_filter"/>
		</where>
		GROUP BY
			1,2)a
		GROUP BY 1,2)a
		ORDER BY a.effect+0
  </select>
</mapper>