<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.ydbi.seffect.dao.SEffectEndMapper" >
  	<sql id="condition_filter">
		<if test='sel_dbct_id!=null and sel_dbct_id != "" '>
			AND k.fisc_dbct_cd =#{sel_dbct_id,jdbcType=INTEGER}
		</if>
		<if test='sel_level!=null and sel_level == "1" '>
			AND k.grtr_dist_cd =#{sel_cd,jdbcType=INTEGER}
		</if>
		<if test='sel_level!=null and sel_level == "2" '>
			AND k.prov_cd =#{sel_cd,jdbcType=INTEGER}
		</if>
		<if test='sel_level!=null and sel_level == "3" '>
			AND k.city_cd =#{sel_cd,jdbcType=INTEGER}
		</if>
		<if test='sel_level!=null and sel_level == "5" '>
			AND k.org_cd = #{sel_cd,jdbcType=INTEGER}
		</if>
	</sql>
	<!-- #到达操作时效_日环比_周同比 -->
	<select id="getSeffectEnd" parameterType="map" resultType="map">
		#到达操作时效_日环比_周同比
		select 
			a.effect_End effect_End
			,(a.effect_End-b.ld_effect_End)/b.ld_effect_End daysFrom
			,(a.effect_End-c.lw_effect_End)/c.lw_effect_End weeksFrom
		from
			( select 
				(a.odr_End_tm/a.odr_End_cnt)/60 effect_End
			from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on a.odr_End_dbct = k.org_cd
			<where> a.odr_End_tm = #{curDate}
			<include refid="condition_filter"/>
    		</where>
			) a,
			( select 
				 (a.odr_End_tm/a.odr_End_cnt)/60 ld_effect_End
			from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on a.odr_End_dbct = k.org_cd
			<where> a.odr_End_tm = DATE_SUB(#{curDate},INTERVAL 1 DAY)
			<include refid="condition_filter"/>
     		</where>
			) b,
		   (select 
				(a.odr_End_tm/a.odr_End_cnt)/60  lw_effect_End 
			from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on a.odr_End_dbct = k.org_cd
			<where> a.odr_End_tm = DATE_SUB(#{curDate},INTERVAL 1 WEEK)
			<include refid="condition_filter"/>
    		</where>		
		   ) c
	</select>
	
	<!-- # 到达操作时效_日月周平均 -->
	<select id="selectDwmAvgAmount" parameterType="map" resultType="map">
		# 到达操作时效_日月周平均
		select 
			a.effect_End_last_day, b.effect_End_week_avg, c.effect_End_month_avg
		FROM
		(SELECT 
			(a.odr_End_tm / a.odr_End_cnt) / 60 effect_End_last_day
		FROM
			ydbi.bas_s_bigdata_effect_End a
		INNER JOIN ydbi.org_inf k ON a.odr_End_dbct = k.org_cd
		WHERE
			a.odr_End_tm = DATE_SUB('2017-07-21',INTERVAL 1 DAY)
		) a,
		(SELECT 
			 DATE_FORMAT(a.odr_End_tm,'%Y'),
			(sum(a.odr_End_tm) / sum(a.odr_End_cnt)) / 60 effect_End_week_avg
		FROM
			ydbi.bas_s_bigdata_effect_End a
		INNER JOIN ydbi.org_inf k ON a.odr_End_dbct = k.org_cd
		WHERE
			a.odr_End_tm > DATE_SUB('2017-07-21',INTERVAL 1 WEEK)
		and a.odr_End_tm &lt;= '2017-07-21'
		GROUP BY 1
		) b,
		(SELECT 
			 DATE_FORMAT(a.odr_End_tm,'%Y-%m'),
			(sum(a.odr_End_tm) / sum(a.odr_End_cnt)) / 60 effect_End_month_avg
		FROM
			ydbi.bas_s_bigdata_effect_End a
		INNER JOIN ydbi.org_inf k ON a.odr_End_dbct = k.org_cd
		WHERE
			a.odr_End_tm > DATE_SUB('2017-07-21',INTERVAL 1 MONTH)
		and a.odr_End_tm &lt;= '2017-07-21'
		GROUP BY 1) c
	</select>
	
	<!-- 到达操作时效_日趋势图 -->
	<select id="seffectEndDTrend" parameterType="map" resultType="map">
		SELECT
			a.ymd ymd,
			SUM(a.effect_End) avtiVal,
			SUM(b.effect_End_last_week) sameTiVal
		FROM
		(SELECT
				a.odr_End_dt ymd,
				sum(a.odr_End_tm)/sum(a.odr_End_cnt) AS effect_End
			FROM
				ydbi.bas_s_bigdata_effect_End a INNER JOIN org_inf k ON a.odr_End_dbct = k.Org_cd
			WHERE
				a.odr_End_dt > DATE_ADD('2017-07-21', INTERVAL - 15 DAY)
			AND a.odr_End_dt &lt;= '2017-07-21'
			AND k.start_tm &lt;= a.odr_End_dt
			AND k.end_tm > a.odr_End_dt
			GROUP BY ymd ) a LEFT JOIN 
			(SELECT
				date_add(a.odr_End_dt, INTERVAL 7 DAY) AS ymd,
				sum(a.odr_End_tm)/sum(a.odr_End_cnt) AS effect_End_last_week
			FROM
				ydbi.bas_s_bigdata_effect_End a INNER JOIN org_inf k ON a.odr_End_dbct = k.Org_cd
			WHERE
				a.odr_End_dt > date_add(DATE_ADD('2107-07-21', INTERVAL - 15 DAY),INTERVAL - 7 DAY)
			AND a.odr_End_dt &lt;= date_add('2107-07-21', INTERVAL - 7 DAY)
			AND k.start_tm &lt;= a.odr_End_dt
			AND k.end_tm > a.odr_End_dt
			GROUP BY ymd
			) b on a.ymd = b.ymd
		GROUP BY ymd
	</select>
	
	 <!-- 到达操作时效(周度趋势) -->
	 <select id="seffectEndWTrend" parameterType="map" resultType="map">
		select 
			CONCAT(DATE_FORMAT(odr_End_dt,'%Y'),'-',WEEKOFYEAR(odr_End_dt)) yweek,
			round(sum(a.odr_End_tm)/sum(a.odr_End_cnt)*100,2) avtiVal,
			subdate(odr_End_dt,date_format(odr_End_dt, '%w') - -7) theDate
		from ydbi.bas_s_bigdata_effect_End a
		INNER JOIN org_inf k
		  			ON a.odr_End_dbct = k.Org_Cd
		<where> a.odr_End_dt >= DATE_ADD(subdate(#{curDate},date_format(#{curDate},'%w')-1), INTERVAL - 7 WEEK)
			AND a.odr_End_dt &lt;= subdate(#{curDate},date_format(#{curDate},'%w')-7)
		<include refid="condition_filter"/>
		</where>
		GROUP BY 1
	 </select>
	 
	<!-- 到达操作时效(月度趋势) -->
	<select id="seffectEndMTrend" parameterType="map" resultType="map">
		SELECT a.ym,round(a.effect_End,2) monthSameTime,round(b.effect_End,2) activeValue,b.theDate
		from
			(select 
				DATE_FORMAT(SUBDATE(ymd,INTERVAL -1 MONTH),'%Y-%m')ym,
				effect_End
			from(SELECT 
					DATE_FORMAT(odr_End_dt, '%Y-%m-%d') ymd,
					SUM(a.odr_End_tm)/SUM(a.odr_End_cnt)*100 effect_End
				FROM 
					ydbi.bas_s_bigdata_effect_End a
				INNER JOIN org_inf k ON a.odr_End_dbct = k.Org_Cd
				<where> 
					a.odr_End_dt >= DATE_ADD(
						DATE_FORMAT(#{curDate}, '%Y-%m-%01'),
						INTERVAL - 6 MONTH
					)
				AND a.odr_End_dt &lt; DATE_ADD(
					DATE_FORMAT(#{curDate}, '%Y-%m-%01'),
					INTERVAL 0 MONTH
				)
				<include refid="condition_filter"/>
		    	</where>
				GROUP BY ymd 
				) a
				where SUBSTR(a.ymd,-2) = SUBSTR(#{curDate},-2)) a ,
				
				(SELECT 
					DATE_FORMAT(odr_End_dt, '%Y-%m') ym,
					SUM(a.odr_End_tm)/SUM(a.odr_End_cnt)*100 effect_End,
					DATE_ADD(
						DATE_FORMAT(odr_End_dt, '%Y-%m-%01'),
						INTERVAL - 1 MONTH
					) theDate
				FROM 
					ydbi.bas_s_bigdata_effect_End a
				INNER JOIN org_inf k ON a.odr_End_dbct = k.Org_Cd
				<where>
					a.odr_End_dt >= DATE_ADD(
						DATE_FORMAT(#{curDate}, '%Y-%m-%01'),
						INTERVAL - 5 MONTH
					)
				AND a.odr_End_dt &lt; DATE_ADD(
					DATE_FORMAT(#{curDate}, '%Y-%m-%01'),
					INTERVAL 1 MONTH
				)
				<include refid="condition_filter"/>
		    	</where>
				GROUP BY ym )b 
			where a.ym = b.ym
	  </select>
	  
	  
  
  <!-- 到达操作时效(季度趋势) -->
  <select id="seffectEndQTrend" parameterType="map" resultType="map">
		select 
			a.yq yq,round(a.effect_End,2) actiVal,a.theDate,round(ifnull(c.effect_End,0),2) qauterSameTime
		from
		(SELECT
			CONCAT(
				DATE_FORMAT(odr_End_dt, '%Y'),
				'-',
				QUARTER (odr_End_dt)
			) yq,
			SUM(a.odr_End_tm)/SUM(a.odr_End_cnt)*100 effect_End,
			DATE_ADD(
				date(
					concat(
						YEAR (odr_End_dt),
						'-',
						elt(QUARTER(odr_End_dt), 1, 4, 7, 10),
						'-',
						1
					)
				),
				INTERVAL - 1 QUARTER
			) theDate
		FROM
			ydbi.bas_s_bigdata_effect_End a
		INNER JOIN org_inf k ON a.odr_End_dbct = k.Org_Cd
		<where>
			concat(year(a.odr_End_dt),'-',QUARTER(a.odr_End_dt)) >= concat(year(DATE_ADD(DATE_FORMAT(#{curDate}, '%Y-%m-%d'),INTERVAL - 1 YEAR)),'-',QUARTER(DATE_ADD(DATE_FORMAT(#{curDate}, '%Y-%m-%d'),INTERVAL - 1 YEAR)))
		AND concat(year(a.odr_End_dt),'-',QUARTER(a.odr_End_dt)) &lt;= concat(year(#{curDate}),'-',QUARTER(#{curDate}))
		<include refid="condition_filter"/>
    	</where>
		GROUP BY yq )a LEFT JOIN
		(select 
			CONCAT(SUBSTR(b.yq,1,4)+1,SUBSTR(b.yq,-2)) yq,b.effect_End
		from 
		(SELECT 
			CONCAT(
				DATE_FORMAT(odr_End_dt, '%Y'),
				'-',
				QUARTER (odr_End_dt)
			) yq,
			SUM(a.odr_End_tm)/SUM(a.odr_End_cnt)*100 effect_End
		FROM
			ydbi.bas_s_bigdata_effect_End a
		INNER JOIN org_inf k ON a.odr_End_dbct = k.Org_Cd
		<where>
			concat(year(a.odr_End_dt),'-',QUARTER(a.odr_End_dt)) > concat(year(DATE_ADD(DATE_FORMAT(#{curDate}, '%Y-%m-%d'),INTERVAL - 2 YEAR)),'-',QUARTER(DATE_ADD(DATE_FORMAT(#{curDate}, '%Y-%m-%d'),INTERVAL - 2 YEAR)))
		AND concat(year(a.odr_End_dt),'-',QUARTER(a.odr_End_dt)) &lt;= concat(year(DATE_ADD(DATE_FORMAT(#{curDate}, '%Y-%m-%d'),INTERVAL - 1 YEAR)),'-',QUARTER(DATE_ADD(DATE_FORMAT(#{curDate}, '%Y-%m-%d'),INTERVAL - 1 YEAR)))
		<include refid="condition_filter"/>
    	</where>
		GROUP BY yq )b)c
		on a.yq = c.yq
  </select>
  <!-- 到达操作时效占比(订单到达操作量占比) -->
  <select id="seffectEndCp" parameterType="map" resultType="map">
		select 
			round(a.odr_End_cnt_0_3/b.odr_End_cnt,2) odr_End_cnt_0_3_cp,
			round(a.odr_End_cnt_3_6/b.odr_End_cnt,2) odr_End_cnt_3_6_cp,
			round(a.odr_End_cnt_6_9/b.odr_End_cnt,2) odr_End_cnt_6_9_cp,
			round(a.odr_End_cnt_9_24/b.odr_End_cnt,2) odr_End_cnt_9_24_cp,
			round(a.odr_End_cnt_24/b.odr_End_cnt,2) odr_End_cnt_24_cp
		from 
		(select 
		  a.odr_End_dt,
		  a.odr_End_cnt odr_End_cnt_0_3, 
		  b.odr_End_cnt odr_End_cnt_3_6,
		  c.odr_End_cnt odr_End_cnt_6_9,
		  d.odr_End_cnt odr_End_cnt_9_24,
		  e.odr_End_cnt odr_End_cnt_24
		from 
		(select a.odr_End_dt, sum(a.odr_End_cnt) odr_End_cnt
		from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
		where (a.odr_End_tm/a.odr_End_cnt)/60>=0
		and (a.odr_End_tm/a.odr_End_cnt)&lt;3
		and a.odr_End_dt = '2017-07-21'
		GROUP BY a.odr_End_dt) a LEFT JOIN 
		
		(select a.odr_End_dt, sum(a.odr_End_cnt) odr_End_cnt
		from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
		where (a.odr_End_tm/a.odr_End_cnt)/60>=3
		and (a.odr_End_tm/a.odr_End_cnt)&lt;6
		and a.odr_End_dt = '2017-07-21' 
		GROUP BY a.odr_End_dt) b on a.odr_End_dt = b.odr_End_dt LEFT JOIN 
		
		(select a.odr_End_dt, sum(a.odr_End_cnt) odr_End_cnt
		from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
		where (a.odr_End_tm/a.odr_End_cnt)/60>=6
		and (a.odr_End_tm/a.odr_End_cnt)&lt;9
		and a.odr_End_dt = '2017-07-21'
		GROUP BY 1) c on b.odr_End_dt = c.odr_End_dt LEFT JOIN 
		
		(select a.odr_End_dt, sum(a.odr_End_cnt) odr_End_cnt
		from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
		where (a.odr_End_tm/a.odr_End_cnt)/60>=9
		and (a.odr_End_tm/a.odr_End_cnt)&lt;24
		and a.odr_End_dt = '2017-07-21'
		GROUP BY 1) d ON c.odr_End_dt = d.odr_End_dt LEFT JOIN 
		
		(select a.odr_End_dt, sum(a.odr_End_cnt) odr_End_cnt
		from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
		where (a.odr_End_tm/a.odr_End_cnt)/60>=24
		and a.odr_End_dt = '2017-07-21'
		GROUP BY 1) e ON d.odr_End_dt = e.odr_End_dt
		) a LEFT JOIN 
		(select a.odr_End_dt, sum(a.odr_End_cnt) odr_End_cnt
		from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
		and a.odr_End_dt = '2017-07-21'
		GROUP BY 1) b on a.odr_End_dt = b.odr_End_dt
  </select>
  
  <!-- 到达操作时效(机构_时效排名) -->
  <select id="seffectEndSort" parameterType="map" resultType="map">
	select  
		k.grtr_dist_nm,
		a.odr_End_dt, 
		sum(a.odr_End_tm)/sum(a.odr_End_cnt) effect_End_cnt
	from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
	and a.odr_End_dt = '2017-07-21'
	GROUP BY 1
	ORDER BY effect_End_cnt desc
  </select>
  
  <!-- 到达操作时效(最慢10城市) -->
  <select id="seffectPicSlowest10City" parameterType="map" resultType="map">
	select 
		k.city_nm,
		a.odr_End_dt, 
		sum(a.odr_End_tm)/sum(a.odr_End_cnt) effect_End_cnt
	from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
	and a.odr_End_dt = '2017-07-21'
	GROUP BY 1
	ORDER BY effect_End_cnt desc
	LIMIT 0,10
  </select>
  
  <!-- 到达操作时效(超时占比最高10城市) -->
  <select id="seffectEndHighestOvertimeCp10City" parameterType="map" resultType="map">
	SELECT
		a.city_nm,
		a.odr_End_cnt/b.odr_End_cnt over_time_cp,
		a.odr_End_cnt
	from 
	(select 
		k.city_nm,
		a.odr_End_dt, 
		sum(a.odr_End_cnt) odr_End_cnt
	from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
	where (a.odr_End_tm/a.odr_End_cnt)/60>8
	and a.odr_End_dt = '2017-07-21'
	GROUP BY 1) a LEFT JOIN 
	
	(select 
		k.city_nm,
		a.odr_End_dt, 
		sum(a.odr_End_cnt) odr_End_cnt
	from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
	where  a.odr_End_dt = '2017-07-21'
	GROUP BY 1) b on a.odr_End_dt = b.odr_End_dt
	ORDER BY over_time_cp DESC
	LIMIT 0,10
  </select>
  
  <!-- 到达操作时效(超时订单最高10城市) -->
  <select id="seffectEndHighestOvertimeOder10City" parameterType="map" resultType="map">
	SELECT
		a.city_nm,
		a.odr_End_cnt/b.odr_End_cnt over_time_cp,
		a.odr_End_cnt
	from 
	(select 
		k.city_nm,
		a.odr_End_dt, 
		sum(a.odr_End_cnt) odr_End_cnt
	from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
	where (a.odr_End_tm/a.odr_End_cnt)/60>8
	and a.odr_End_dt = '2017-07-21'
	GROUP BY 1) a LEFT JOIN 
	
	(select 
		k.city_nm,
		a.odr_End_dt, 
		sum(a.odr_End_cnt) odr_End_cnt
	from ydbi.bas_s_bigdata_effect_End a INNER JOIN ydbi.org_inf k on k.org_cd = a.odr_End_dbct
	where  a.odr_End_dt = '2017-07-21'
	GROUP BY 1) b on a.odr_End_dt = b.odr_End_dt
	ORDER BY odr_End_cnt DESC
	LIMIT 0,10
  </select>
</mapper>