<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>重置密码</title>
    <link rel="stylesheet" type="text/css" href="../css/weui.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <style>
        ::-webkit-input-placeholder {
            color: #cacaca;
        }
        ::-moz-placeholder {
            color: #cacaca;
        }
        ::-moz-placeholder {
            color: #cacaca;
        }
    </style>
</head>
<body class="back-body">
    <div class="container">
        <div class="password-area">
            <div class="password-change-item">
                <div class="password-change-hd password-change-tel"></div>
                <div class="password-change-bd">
                    <p class="password-change-alt">关联手机号</p>
                    <div class="password-change-info">
                        <input class="password-change-input" type="number" placeholder="请输入关联手机号">
                    </div>
                </div>
            </div>
            <div class="password-change-item">
                <div class="password-change-hd password-change-mail"></div>
                <div class="password-change-bd">
                    <p class="password-change-alt">短信验证码</p>
                    <div class="password-change-info">
                        <input class="password-change-input" type="number" placeholder="请输入短信验证码">
                    </div>
                    <span class="get-tel-code">获取验证码</span>
                </div>
            </div>
            <div class="password-change-item">
                <div class="password-change-hd password-change-pass"></div>
                <div class="password-change-bd">
                    <p class="password-change-alt">新密码</p>
                    <div class="password-change-info">
                        <input class="password-change-input" type="number" placeholder="请输入密码">
                    </div>
                </div>
            </div>
            <div class="password-change-item">
                <div class="password-change-hd password-change-pass"></div>
                <div class="password-change-bd">
                    <p class="password-change-alt">确认新密码</p>
                    <div class="password-change-info">
                        <input class="password-change-input" type="number" placeholder="请确认密码">
                    </div>
                    <span class="warn-pass-info">两次密码输入不一致</span>
                </div>
            </div>
        </div>
        <div class="password-btn password-ok-btn">确定</div>
        <div class="password-btn password-cancel-btn">取消</div>
        <p class="company-logo">上海韵达速递(物流)有限公司</p>
    </div>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery-weui.min.js"></script>
<script>
    $(function() {
        init();
    });
    function init() {
        viewJs()
    };
    function viewJs() {
        var height = $(".company-logo").offset().top;
        $(".company-logo").css("top",height);
    }
</script>
</body>
</html>