<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>装载率</title>
    <link rel="stylesheet" type="text/css" href="../css/weui.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
<div class="container">
    <div class="area-detail-top">
        <div class="area-detail-all">
            <span class="time-show-area" id="info-time"></span>
            <div class="area-detail-left">
                <p class="area-detail-name">装载率</p>
                <p class="area-detail-value" id="freight-retio">---</p>
                <div class="area-ratio">
                    <p class="area-menu-item-ratio" id="freight-day-ratio">
                       <span class="area-ratio-area ratio-up-num">日环比
                            <span class="area-ratio-info">---</span>
                            <span class="area-ratio-img ratio-img-top-up"></span>
                        </span>
                        <span class="area-ratio-area ratio-up-num" style="margin-left: 4px;">周同比
                            <span class="area-ratio-info">---</span>
                            <span class="area-ratio-img ratio-img-top-up"></span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="area-detail-right">
                <p class="area-detail-name">上一日装载率</p>
                <p class="area-detail-value" id="prev-freight-retio-num">---</p>
                <div class="area-ratio">
                    <p class="area-menu-item-ratio">
                        <span class="area-ratio-area" id="day-average-info">---</span>
                        <span class="area-ratio-area" style="margin-left: 4px;" id="month-average-info">---</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="freight-list">
            <ul class="freight-menu">
                <li class="freight-item">
                    <p class="freight-item-name">正班车</p>
                    <p class="freight-item-value freight-item-value-remark" id="zb-car">---</p>
                </li>
                <li class="freight-item">
                    <p class="freight-item-name">上一日</p>
                    <p class="freight-item-value" id="zb-car-prev">---</p>
                </li>
                <li class="freight-item">
                    <p class="freight-item-name">日环比</p>
                    <p class="freight-item-value" id="zb-car-day">---</p>
                </li>
                <li class="freight-item">
                    <p class="freight-item-name">周同比</p>
                    <p class="freight-item-value" id="zb-car-week">---</p>
                </li>
            </ul>
            <ul class="freight-menu">
                <li class="freight-item">
                    <p class="freight-item-name">卡班车</p>
                    <p class="freight-item-value freight-item-value-remark" id="cb-car">***</p>
                </li>
                <li class="freight-item">
                    <p class="freight-item-name">上一日</p>
                    <p class="freight-item-value" id="cb-car-prev">---</p>
                </li>
                <li class="freight-item">
                    <p class="freight-item-name">日环比</p>
                    <p class="freight-item-value" id="cb-car-day">---</p>
                </li>
                <li class="freight-item">
                    <p class="freight-item-name">周同比</p>
                    <p class="freight-item-value" id="cb-car-week">---</p>
                </li>
            </ul>
        </div>
        <div class="area-detail-tab-list"  style="border-bottom: 1px solid #666">
            <ul class="freight-detail-ul">
                <li data-trend="1" class="area-tab-li-active">总量趋势</li>
                <li data-trend="3">正班车趋势</li>
                <li data-trend="2">卡班车趋势</li>
            </ul>
            <div class="area-detail-active-show"></div>
        </div>
        <div class="chart-area">
            <div class="chart-top">
                <div class="chart-left-tab">
                    <div class="echart-tab-item" id="tq-remark">
                        <span class="echart-name echart-tab-yel">周同期</span>
                        <span class="echart-show-line echart-tab-yel-bg"></span>
                    </div>
                    <div class="echart-tab-item margin-top-5">
                        <span class="echart-name ratio-up-num">实际值</span>
                        <span class="echart-show-line ratio-up-num-bg"></span>
                    </div>
                </div>
                <div class="chart-right-tab">
                    <ul class="echart-tab-list">
                        <li data-value="day"  class="echart-tab-list-active">日趋势</li>
                        <li data-value="week">周趋势</li>
                        <li data-value="month">月趋势</li>
                        <li data-value="quarter">季度趋势</li>
                    </ul>
                </div>
            </div>
            <div class="echart-map">
                <div id="chartDv" style="width:100%;height:100%"></div>
                <div class="echart-active-info"></div>
            </div>
        </div>
    </div>
    <div class="area-detail-menu water-remark-area">
        <table class="area-detail-table" cellspacing="0" cellpadding="0">
            <thead class="traffic-volume-detail-thead">
            <tr>
                <td width="25%">分拨中心</td>
                <td width="25%">正班车</td>
                <td width="25%">卡班车</td>
                <td width="25%">总量</td>
            </tr>
            </thead>
            <tbody class="traffic-volume-detail-tbody" id="car-detail">
            <!--<tr>-->
                <!--<td>上海</td>-->
                <!--<td>27.00%</td>-->
                <!--<td>27.00%</td>-->
                <!--<td class="ratio-up-num">27.00%</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>北京</td>-->
                <!--<td>27.00%</td>-->
                <!--<td>27.00%</td>-->
                <!--<td class="ratio-up-num">27.00%</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>广州</td>-->
                <!--<td>27.00%</td>-->
                <!--<td>27.00%</td>-->
                <!--<td class="ratio-up-num">27.00%</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>深证</td>-->
                <!--<td>27.00%</td>-->
                <!--<td>27.00%</td>-->
                <!--<td class="ratio-up-num">27.00%</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/jquery-weui.min.js"></script>
<script src="../js/echarts.common.min.js"></script>
<script src="../js/echarts-data.js"></script>
<script src="../js/index.js"></script>
<script src="../js/YDM-mobile-contants.js"></script> 
<script>
    var getLoadrateURL = appId + "/action/loadrate/search.do";
    var carTrendType = "1"; //趋势
    var trendType = "day";
    var isFirst = true; //用于判断是否初次加载
    var orgType = YDM.QueryString("sendType");
    var orgId = YDM.QueryString("dataOrg");
    $(function() {
        init();
    });
    function init() {
        viewJs();
        getData();  //获取echart值
        refreshInfo();  //刷新页面内容
        refreshCtrl();
        commonFun(); //公用方法
    }

    function refreshInfo() {
        getSendCarInfo(dataTime,"");
    }

    function getSendCarInfo(getdate,ajaxData) {
        var conditonStr;
        var trendTypeNum;
        if(trendType == "day") {
            trendTypeNum = "1";
        }else if(trendType == "week") {
            trendTypeNum = "2";
        }else if(trendType == "month") {
            trendTypeNum = "3";
        }else if(trendType == "quarter") {
            trendTypeNum = "4";
        }
        $.showLoading("加载中");
        if(orgType == "area_id") {
            conditonStr = "{'area_id':'" + orgId +"'}"
        }else if(orgType == "prov_id") {
            conditonStr = "{'prov_id':'" + orgId +"'}"
        }else if(orgType == "com_id") {
            conditonStr = "{'com_id':'" + orgId +"'}"
        }
        var survParams = {
            "date_time": getdate,
            "car_trend_type": carTrendType,
            "trend_type" : trendTypeNum,
            "conditonStr":conditonStr
        };
        var str = encodeURI("search_condition="+JSON.stringify(survParams));
        $.ajax({
            type : 'POST',
            url : getLoadrateURL,
            dataType : 'json',
            data: str,
            contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
            success : function(oData) {
                $.hideLoading();
                if (oData && oData.errorCode == 0) {
                    if(ajaxData != "") {
                        prepareEchartData(oData.data.altrend, ajaxData);
                    }else {
                        addBashInfo(oData.data);
                    }
                } else {
                    YDM.messageAlert(oData.msg + "("+ oData.errorCode + ")", "错误", "error", null);
                }
            }
        });
    }

    function addBashInfo(data) {
        if(isFirst) {
            $("#freight-retio").text(changeData(data.lr,"abs","%"));
            var carstr = "<span class='area-ratio-area ratio-"+ changeData(data.dlr,"symbol") +"-num'>日环比<span class='area-ratio-info margin-left-2'>"+ changeData(data.dlr,"abs","%") +"</span><span class='area-ratio-img ratio-img-top-"+ changeData(data.dlr,"symbol") +"'></span></span><span class='area-ratio-area ratio-"+ changeData(data.wdr,"symbol") +"-num' style='margin-left: 4px;'>周同比<span class='area-ratio-info margin-left-2'>"+ changeData(data.wdr,"abs","%") +"</span><span class='area-ratio-img ratio-img-top-"+ changeData(data.wdr,"symbol") +"'></span></span>"
            $("#freight-day-ratio").empty().append(carstr);
            $("#prev-freight-retio-num").text(changeData(data.ytlr,"abs","%"));
            $("#day-average-info").text("周均" + changeData(data.wsum,"abs","%"));
            $("#month-average-info").text("月均" + changeData(data.ysum,"abs","%"));
            $("#zb-car").text(changeData(data.zbc,"abs","%"));
            $("#zb-car-prev").text(changeData(data.lzbc,"abs","%"));
            $("#zb-car-day").text(changeData(data.dzbc,"abs","%"));
            $("#zb-car-week").text(changeData(data.wzbc,"abs","%"));
            $("#cb-car").text(changeData(data.kbc,"abs","%"));
            $("#cb-car-prev").text(changeData(data.lkbc,"abs","%"));
            $("#cb-car-day").text(changeData(data.dkbc,"abs","%"));
            $("#cb-car-week").text(changeData(data.wkbc,"abs","%"));
            $("#car-detail").empty();
            $.each(data.slrDetail,function(index,val) {
                var strDetail = "<tr><td>"+ val.fbcode +"</td><td>"+ val.zbCars +"%</td><td>"+ val.kbCars +"%</td><td class='ratio-up-num'>"+ val.allCars +"%</td></tr>";
                $("#car-detail").append(strDetail);
            })
        }else {
            //TODO 渲染echart图标
        }
        prepareEchartData(data.altrend);
    }

    function viewJs() {
        $("#info-time").text(dataTime);
        $(".freight-detail-ul li").on("click",function() {
            $(this).addClass("area-tab-li-active").siblings().removeClass("area-tab-li-active");
            carTrendType = $(this).attr("data-trend");
            isFirst = false;
            var index = $(this).index();
            $(".area-detail-active-show").animate({"left":(33.33*index) + "%"},100);
            getSendCarInfo(dataTime,"");
        });
        $(".echart-tab-list li").on("click",function() {
            $(this).addClass("echart-tab-list-active").siblings().removeClass("echart-tab-list-active");
            trendType = $(this).attr("data-value");
            var index = $(this).index();
            var showView = $("#tq-remark").show().next().removeClass("margin-top-8").end().children(".echart-name:first-child");
            switch (index) {
                case 0 : showView.text("周同期").parents(".echart-tab-item").next().children(".echart-name:first-child").text("实际值");break;
                case 1 : $("#tq-remark").hide().next().addClass("margin-top-8");break;
                case 2 : showView.text("月同期").parents(".echart-tab-item").next().children(".echart-name:first-child").text("实际值");break;
                case 3 : showView.text("季度同期").parents(".echart-tab-item").next().children(".echart-name:first-child").html("实际值<span style='opacity:0'>填</span>");break;
            }
            isFirst = false;
            getSendCarInfo(dataTime,"");
            getData();
        })
    }
    /** 初始化chart数据*/
    function getData() {
    	var xDataNum;
    	var getXFormatter = prepareXFormatter();
    	var getYFormatter = prepareYFormatter();
    	var seriesName = ['实际值'];
    	if(trendType == "day") {
    		xDataNum = 15;
    		seriesName.push('周同期');
        }else if(trendType == "week") {
        	xDataNum = 8;
        }else if(trendType == "month") {
        	xDataNum = 6;
        	seriesName.push('月同期');
        }else if(trendType == "quarter") {
        	xDataNum = 4;
        	seriesName.push('季度同期');
        }
    	var initoptions = {
			//getNextData: getNextSendCarInfo,
			getPreviousData: getPreviousSendCarInfo,
			xDataNum: xDataNum,
			chartFieldId: "chartDv",
			getXFormatter:getXFormatter,
			trendType: trendType == "day" ? trendType : 'week',
			getYFormatter:getYFormatter,
			seriesName:seriesName
    	} 
        BDC.doChart(initoptions);
    }
    /**准备Y轴的坐标格式*/
    function prepareYFormatter() {
    	return function (value) {
    		return (value).toFixed(0) + '%';
    	}
    }
    /**准备X轴的坐标格式*/
    function prepareXFormatter() {
    	var getXFormatter;
    	if(trendType == "day") {
    		xDataNum = 15;
    		getXFormatter = function (value) {
    			if (value) {
    				return value.split('-')[2];
    			}
    		}
        }else if(trendType == "week") {
        	xDataNum = 8;
        	getXFormatter = function (value) {
    			if (value) {
    				return value + '周';
    			}
    		}
        }else if(trendType == "month") {
        	xDataNum = 6;
        	getXFormatter = function (value) {
    			if (value) {
    				return value.split('-')[1] + '月';
    			}
    		}
        }else if(trendType == "quarter") {
        	xDataNum = 4;
        	getXFormatter = function (value) {
    			if (value) {
    				var month = value.split('-')[1];
    				if (month == '1' || month == '2' || month == '3'){
    					return '一季度';
    				} else if (month == '4' || month == '5' || month == '6') {
    					return '二季度';
    				} else if (month == '7' || month == '8' || month == '9') {
    					return '三季度';
    				} else {
    					return '四季度';
    				}
    			}
    		}
        }
    	return getXFormatter;
    }
    /** 处理chart数据*/ 
    function prepareEchartData (altrend, ajaxName) {
    	if (altrend.length < 0) {
    		return;
    	}
    	var weekRequestDate = '';
    	var xData = [];
    	var yData = [];
    	var realnumArr = [];
    	var onsamenumArr = []
    	yData.push(realnumArr);
    	yData.push(onsamenumArr);
    	$.each(altrend, function (index, altrendData) {
    		if(trendType == "month" || trendType == "quarter") {
    			xData.unshift(altrendData.startdate);
            }else if(trendType == 'week'){
            	//var weekX = getWeekNumber(altrendData.enddate).toString();
            	xData.unshift(altrendData.startdate);
            } else {
            	xData.unshift(altrendData.startdate);
            }
    		yData[0].unshift(altrendData.realnum);
    		onsamenumArr.unshift (altrendData.onsamenum);
    		weekRequestDate = altrendData.enddate
    		
    	});
    	if (ajaxName === 'previous') {
    		BDC.preparePreviousData(xData, yData, weekRequestDate);
    	} else {
    		BDC.prepareCurrentData(xData, yData, weekRequestDate);
    	} 
    	/* if (ajaxName === 'next') {
    		BDC.prepareNextData(xData, yData);
    	} else if (ajaxName === 'previous') {
    		BDC.preparePreviousData(xData, yData);
    	} else {
    		BDC.prepareCurrentData(xData, yData)
    	} */
    }
    /** 拿到next的chart数据*/
   /*  var getNextSendCarInfo = function (date) {
    	var ajaxName = 'next';
    	getSendCarInfoAjax(date, ajaxName);
    }  */
    /** 拿到previous的chart数据*/
    var getPreviousSendCarInfo = function (date) {
        var ajaxName = 'previous';
        getSendCarInfo(date, ajaxName);
    }
</script>
</body>
</html>