<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.ydbi.business.dao.BasSBusiSndMapper">
	<resultMap id="BasSBusiSndMap" type="com.yd.ydbi.business.model.BasSBusiSnd">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="snd_dt_24" property="sndDt24" jdbcType="DATE" />
		<result column="snd_dbct_24" property="sndDbct24" jdbcType="INTEGER" />
		<result column="snd_cnt" property="sndCnt" jdbcType="BIGINT" />
		<result column="snd_cnt_yd" property="sndCntYd" jdbcType="BIGINT" />
		<result column="snd_cnt_wd" property="sndCntWd" jdbcType="BIGINT" />
		<result column="snd_cnt_md" property="sndCntMd" jdbcType="BIGINT" />
		<result column="snd_cnt_q" property="sndCntQ" jdbcType="BIGINT" />
		<result column="snd_cnt_w" property="sndCntW" jdbcType="BIGINT" />
		<result column="snd_cnt_m" property="sndCntM" jdbcType="BIGINT" />
		<result column="snd_dt_m" property="sndDtM" jdbcType="INTEGER" />
		<result column="snd_cnt_lm" property="sndCntLm" jdbcType="BIGINT" />
		<result column="snd_cnt_llm" property="sndCntLlm" jdbcType="BIGINT" />
		<result column="snd_cnt_lllm" property="sndCntLllm" jdbcType="BIGINT" />
	</resultMap>
	<sql id="condition_filter">
	  	<if test='sel_dbct_id!=null and sel_dbct_id != "" '>
	    AND k.fisc_dbct_cd =#{sel_dbct_id,jdbcType=INTEGER}
	   </if>
	   <if test='sel_level!=null and sel_level == "1" '>
	    AND k.grtr_dist_cd =#{sel_cd,jdbcType=INTEGER}
	   </if>
	   <if test='sel_level!=null and sel_level == "2" '>
	    AND k.prov_cd =#{sel_cd,jdbcType=INTEGER}
	   </if>
	   <if test='sel_level!=null and sel_level == "3" '>
	    AND k.city_cd =#{sel_cd,jdbcType=INTEGER}
	   </if>
	   <if test='sel_level!=null and sel_level == "5" '>
	    AND k.org_cd = #{sel_cd,jdbcType=INTEGER}
	   </if>
	   	AND k.start_tm &lt;= a.stats_dt
		AND k.end_tm > a.stats_dt
  </sql>
	<select id="monthGrowthRateForSnd" resultType="com.yd.ydbi.business.model.MonthGrowthRate" parameterType="map">
		select 
		a.orgName,
		a.orgCode,
		round(a.theMonthPickAmount/10000,2) theMonthPickAmount,
		round(b.theLastMonthPickAmount/10000,2) theLastMonthPickAmount,
		ROUND((a.theMonthPickAmount-b.theLastMonthPickAmount)/b.theLastMonthPickAmount*100,2) monthGrowthRate
		from (
		SELECT
			<include refid="select_org_nm_cd_condition"/>
			IFNULL(sum(delv_cnt), 0) theMonthPickAmount
		FROM
			`bas_s_bigdata_busi` a
		INNER JOIN org_inf k
		ON a.dbct_cd = k.Org_Cd
		<where>
			DATE_FORMAT(a.stats_dt,'%Y-%m') =  DATE_FORMAT(date_sub(DATE_FORMAT(#{curDate},'%Y-%m-%d'),interval 1 month),'%Y-%m')
		<include refid="condition_filter"/>
		</where>
		GROUP BY 1
		)a left join
		
		(SELECT
			<include refid="select_org_nm_cd_condition"/>
			IFNULL(sum(delv_cnt), 0) theLastMonthPickAmount
		FROM
			`bas_s_bigdata_busi` a
		INNER JOIN org_inf k
		ON a.dbct_cd = k.Org_Cd
		<where>
			DATE_FORMAT(a.stats_dt,'%Y-%m') =  DATE_FORMAT(date_sub(DATE_FORMAT(#{curDate},'%Y-%m-%d'),interval 2 month),'%Y-%m')
		<include refid="condition_filter"/>
		</where>
		GROUP BY 1
		)b
		on a.orgCode=b.orgCode
		order by monthGrowthRate desc
 </select>
 
 
 <select id="monthVolatilityForSnd" resultType="com.yd.ydbi.business.model.MonthVolatility" parameterType="map">
	select 
		a.orgName,
		a.orgCode, 
		round(a.monthTheGrowthRate,2) monthTheGrowthRate,
		round(a.monthLastGrowthRate,2) monthLastGrowthRate,
		round((a.monthTheGrowthRate-a.monthLastGrowthRate),2) monthvolatility
	from(select 
		a.orgName, 
		a.orgCode, 
		(a.theMonthPickAmount-b.theLastMonthPickAmount)/b.theLastMonthPickAmount*100 monthTheGrowthRate,
		(b.theLastMonthPickAmount-c.theLastLastMonthPickAmount)/c.theLastLastMonthPickAmount*100 monthLastGrowthRate
		
	from (
	SELECT
		<include refid="select_org_nm_cd_condition"/>
		IFNULL(sum(delv_cnt), 0) theMonthPickAmount
	FROM
		`bas_s_bigdata_busi` a
	INNER JOIN org_inf k
   	ON a.dbct_cd = k.Org_Cd
	<where>
		DATE_FORMAT(a.stats_dt,'%Y-%m') =  DATE_FORMAT(date_sub(DATE_FORMAT(#{curDate},'%Y-%m-%d'),interval 1 month),'%Y-%m')
	<include refid="condition_filter"/>
    </where>
    group by 1,2
	)a left join
	
	(SELECT
		<include refid="select_org_nm_cd_condition"/>
		IFNULL(sum(delv_cnt), 0) theLastMonthPickAmount
	FROM
		`bas_s_bigdata_busi` a
	INNER JOIN org_inf k
   	ON a.dbct_cd = k.Org_Cd
	<where>
		DATE_FORMAT(a.stats_dt,'%Y-%m') =  DATE_FORMAT(date_sub(DATE_FORMAT(#{curDate},'%Y-%m-%d'),interval 2 month),'%Y-%m')
	<include refid="condition_filter"/>
    </where>
    group by 1,2
	)b on a.orgCode = b.orgCode
		left join 
	(SELECT
		<include refid="select_org_nm_cd_condition"/>
		IFNULL(sum(delv_cnt), 0) theLastLastMonthPickAmount
	FROM
		`bas_s_bigdata_busi` a
	INNER JOIN org_inf k
   	ON a.dbct_cd = k.Org_Cd
	<where>
		DATE_FORMAT(a.stats_dt,'%Y-%m') =  DATE_FORMAT(date_sub(DATE_FORMAT(#{curDate},'%Y-%m-%d'),interval 3 month),'%Y-%m')
	 <include refid="condition_filter"/>
    </where>
    group by 1,2
	)c on b.orgCode = c.orgCode )a
	order by monthvolatility desc
 </select>
	
	<select id="selectSndTrend" parameterType="map" resultType="map">
	SELECT
		IFNULL(sum(delv_cnt), 0) realityVal,
		ifnull(sum(delv_cnt), 0)+100 targetVal
	FROM
		`bas_s_bigdata_busi` a
	WHERE
		a.stats_dt BETWEEN str_to_date(#{theDateStart},'%Y-%m-%d') AND str_to_date(#{theDateEnd},'%Y-%m-%d')
	AND a.dbct_cd = #{sel_cd}
  </select>
  
   <!-- 派件量(季度趋势) -->
  <select id="delvQTrend" parameterType="map" resultType="map">
	select 
			a.yq yq,a.delv_cnt actiVal,a.theDate,ifnull(c.delv_cnt,0) qauterSameTime
		from
		(SELECT
			CONCAT(
				DATE_FORMAT(stats_dt, '%Y'),
				'-',
				QUARTER (stats_dt)
			) yq,
			sum(a.delv_cnt) delv_cnt,
			DATE_ADD(
				date(
					concat(
						YEAR (stats_dt),
						'-',
						elt(QUARTER(stats_dt), 1, 4, 7, 10),
						'-',
						1
					)
				),
				INTERVAL - 1 QUARTER
			) theDate
		FROM
			ydbi.bas_s_bigdata_busi a
		INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
		<where>
			a.stats_dt >= DATE_SUB(concat(date_format(LAST_DAY(MAKEDATE(EXTRACT(YEAR FROM  #{curDate}),1) + interval QUARTER(#{curDate})*3-3 month),'%Y-%m-'),'01'),INTERVAL 1 YEAR)
		AND a.stats_dt &lt;= LAST_DAY(MAKEDATE(EXTRACT(YEAR  FROM #{curDate}),1) + interval QUARTER(#{curDate})*3-1 month)
		<include refid="condition_filter"/>
    	</where>
		GROUP BY yq )a LEFT JOIN
		(select 
			CONCAT(SUBSTR(b.yq,1,4)+1,SUBSTR(b.yq,-2)) yq,b.delv_cnt
		from 
		(SELECT 
			CONCAT(
				DATE_FORMAT(stats_dt, '%Y'),
				'-',
				QUARTER (stats_dt)
			) yq,
			sum(a.delv_cnt) delv_cnt
		FROM
			ydbi.bas_s_bigdata_busi a
		INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
		<where>
			a.stats_dt >= DATE_SUB(concat(date_format(LAST_DAY(MAKEDATE(EXTRACT(YEAR FROM  #{curDate}),1) + interval QUARTER(#{curDate})*3-3 month),'%Y-%m-'),'01'),INTERVAL 2 YEAR)
		AND a.stats_dt &lt;= DATE_SUB(LAST_DAY(MAKEDATE(EXTRACT(YEAR  FROM #{curDate}),1) + interval QUARTER(#{curDate})*3-1 month),INTERVAL 1 YEAR)
		<include refid="condition_filter"/>
    	</where>
		GROUP BY yq )b)c
		on a.yq = c.yq
  </select>
  
  <!-- 派件量(月度趋势) -->
  <select id="delvMTrend" parameterType="map" resultType="map">
	SELECT a.ym,a.delv_cnt monthSameTime,b.delv_cnt avtiveValue,b.theDate
	from
		(select 
			DATE_FORMAT(SUBDATE(ymd,INTERVAL -1 MONTH),'%Y-%m')ym,
			delv_cnt
		from(SELECT 
				DATE_FORMAT(stats_dt, '%Y-%m-%d') ymd,
				sum(a.delv_cnt) delv_cnt
	
			FROM 
				ydbi.bas_s_bigdata_busi a
			INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
			<where> 
				a.stats_dt >= DATE_ADD(
					DATE_FORMAT(#{curDate}, '%Y-%m-%01'),
					INTERVAL - 6 MONTH
				)
			AND a.stats_dt &lt; DATE_ADD(
				DATE_FORMAT(#{curDate}, '%Y-%m-%01'),
				INTERVAL 0 MONTH
			)
			<include refid="condition_filter"/>
	    	</where>
			GROUP BY ymd 
			) a
			where SUBSTR(a.ymd,-2) = SUBSTR(#{curDate},-2)) a ,
			(SELECT 
				DATE_FORMAT(stats_dt, '%Y-%m') ym,
				sum(a.delv_cnt) delv_cnt,
				DATE_ADD(
					DATE_FORMAT(stats_dt, '%Y-%m-%01'),
					INTERVAL - 1 MONTH
				) theDate
			FROM 
				ydbi.bas_s_bigdata_busi a
			INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
			<where>
				a.stats_dt >= DATE_ADD(
					DATE_FORMAT(#{curDate}, '%Y-%m-%01'),
					INTERVAL - 5 MONTH
				)
			AND a.stats_dt &lt; DATE_ADD(
				DATE_FORMAT(#{curDate}, '%Y-%m-%01'),
				INTERVAL 1 MONTH
			)
			<include refid="condition_filter"/>
	    	</where>
			GROUP BY
				ym )b 
			where a.ym = b.ym
  </select>
  
  
  
  <!-- 派件量(周度趋势) -->
  <select id="delvWTrend" parameterType="map" resultType="map">
		SELECT
			DATE_FORMAT(DATE_SUB(stats_dt,INTERVAL 1 DAY),'%X-%V') yweek,
			sum(a.delv_cnt) delv_cnt,
			DATE_SUB(stats_dt,INTERVAL 1 WEEK) theDate
		FROM
			ydbi.bas_s_bigdata_busi a
		INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
		<where>
			DATE_FORMAT(DATE_SUB(stats_dt,INTERVAL 1 DAY),'%X-%V') BETWEEN DATE_FORMAT(DATE_SUB(DATE_SUB(#{curDate},INTERVAL 1 DAY),INTERVAL 7 WEEK),'%X-%V')
		AND  DATE_FORMAT(DATE_SUB(#{curDate},INTERVAL 1 DAY),'%X-%V')
		<include refid="condition_filter"/>
    	</where>
		GROUP BY
			1
		ORDER BY
		yweek 
  </select>
  
  <!-- 派件量(日度趋势) -->
  <select id="delvDTrend" parameterType="map" resultType="map">
		SELECT 
		tb.ymd ymd
		,SUM(tb.delv_cnt) avtiVal
		,SUM(tb.delv_cnt1)	sameTiVal
		FROM (
		select 
		 DATE_FORMAT(stats_dt,'%Y-%m-%d') as ymd,sum(a.delv_cnt) as delv_cnt,0  as delv_cnt1
		 from ydbi.bas_s_bigdata_busi a
		 INNER JOIN org_inf k
   			ON a.dbct_cd = k.Org_Cd
	<where> a.stats_dt > DATE_ADD(#{curDate},INTERVAL -15 DAY)
		 and a.stats_dt &lt;= #{curDate}
		 <include refid="condition_filter"/>
    </where>
		GROUP BY ymd
		union 
		select 
		 DATE_FORMAT(date_add(stats_dt,INTERVAL 7 DAY),'%Y-%m-%d') as ymd, 0  as delv_cnt ,sum(a.delv_cnt) as delv_cnt1
		 
		 from ydbi.bas_s_bigdata_busi a
		 INNER JOIN org_inf k
   			ON a.dbct_cd = k.Org_Cd
	<where> a.stats_dt > date_add(DATE_ADD(#{curDate},INTERVAL -15 DAY),INTERVAL -7 DAY)
		 and a.stats_dt &lt;= date_add(#{curDate},INTERVAL -7 DAY)
		 <include refid="condition_filter"/>
    </where>
		GROUP BY ymd
		) tb
		GROUP BY 1
		ORDER BY 1
  </select>
	
	<!-- 派件量日月周平均 -->
	<select id="selectDwmAvgAmountForSnd" parameterType="map" resultType="map">
		SELECT
			FORMAT(a.lastDayTheAVG,0) lastDayTheAVG,
			FORMAT(c.theMonthTheAVG,0) theMonthTheAVG,
			FORMAT(b.lastWeekTheAVG,0) lastWeekTheAVG
		FROM
		(SELECT a.stats_dt, 0 as st,
			SUM(a.delv_cnt) lastDayTheAVG
			FROM
				`bas_s_bigdata_busi` a INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
			<where>
				a.stats_dt = date_sub(#{curDate},INTERVAL 1 DAY)
			<include refid="condition_filter"/>
	     	</where>
			GROUP BY a.stats_dt
			UNION ALL SELECT 0,0,0
			limit 1
		) a left join 
		(SELECT 
			DATE_FORMAT(a.stats_dt,'%Y') ymw, 0 as st,
			SUM(a.delv_cnt)/7 lastWeekTheAVG
		FROM
			`bas_s_bigdata_busi` a INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
		<where>
		a.stats_dt >= DATE_SUB(subdate(#{curDate},if(date_format(#{curDate},'%w')=0,7,date_format(#{curDate},'%w'))-1),INTERVAL 1 WEEK)
		and a.stats_dt &lt;= DATE_SUB(subdate(#{curDate},if(date_format(#{curDate},'%w')=0,7,date_format(#{curDate},'%w'))-7),INTERVAL 1 WEEK)
		<include refid="condition_filter"/>
	    	</where>
		GROUP BY ymw
		UNION ALL SELECT 0,0,0
			limit 1
		) b on a.st = b.st left join
		(SELECT
		date_format(a.stats_dt, '%Y-%m'),
		0 as st,
		SUM(a.delv_cnt) / CASE when date_format(#{curDate}, '%Y-%m') = date_format(NOW(), '%Y-%m') THEN 
		( datediff( NOW(), date_format(#{curDate}, '%Y-%m-%01') )+ 1 ) 
		ELSE
		( datediff( LAST_DAY(#{curDate}), date_format(#{curDate}, '%Y-%m-%01') )+ 1 ) 
		end theMonthTheAVG
		FROM
			`bas_s_bigdata_busi` a
		INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
		<where>
			CASE when date_format(#{curDate}, '%Y-%m') = date_format(NOW(), '%Y-%m') THEN 
		 a.stats_dt >= date_format(#{curDate}, '%Y-%m-%01')
		 AND a.stats_dt &lt;= NOW()
	     ELSE
	     a.stats_dt >= date_format(#{curDate}, '%Y-%m-%01')
		 AND a.stats_dt &lt;= LAST_DAY(#{curDate})
		end
		<include refid="condition_filter"/>
    	</where>
		GROUP BY 1
		UNION ALL SELECT 0,0,0
			limit 1
		) c on b.st = c.st
	</select>
	<sql id="Base_Column_List">
		id, snd_dt_24, snd_dbct_24, snd_cnt, snd_cnt_yd,
		snd_cnt_wd, snd_cnt_md,
		snd_cnt_q,
		snd_cnt_w, snd_cnt_m, snd_dt_m,
		snd_cnt_lm, snd_cnt_llm, snd_cnt_lllm
	</sql>
	<select id="selectByPrimaryKey" resultMap="BasSBusiSndMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from bas_s_busi_snd
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="sendAQuantity" resultType="map" parameterType="map">
	SELECT
		IFNULL(FORMAT(a.delv_cnt,0) ,0) delvCnt,
		FORMAT(IFNULL(ROUND((a.delv_cnt - b.lastday_delv_cnt) / b.lastday_delv_cnt * 100,2),0),2) daysFrom,
		FORMAT(IFNULL(ROUND((a.delv_cnt - c.lastWeekSd_delv_cnt) / c.lastWeekSd_delv_cnt * 100,2),0),2) weeksFrom
	FROM
	 (SELECT 0 as st,
		sum(a.delv_cnt) lastday_delv_cnt
	  FROM
		`bas_s_bigdata_busi` a INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
		<where>
		a.stats_dt = date_sub(#{curDate},INTERVAL 1 DAY)
		<include refid="condition_filter"/>
     	</where>
	  GROUP BY a.`stats_dt`
	  UNION ALL SELECT 0,0
		limit 1
	  ) b LEFT JOIN
		(SELECT 0 as st,
			sum(a.delv_cnt) lastWeekSd_delv_cnt
		FROM
			`bas_s_bigdata_busi` a
		INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
		<where>
		a.stats_dt = DATE_SUB(#{curDate},INTERVAL 1 WEEK)
		<include refid="condition_filter"/>
    	</where>
		GROUP BY a.`stats_dt`
		UNION ALL SELECT 0,0
		limit 1
		) c on b.st = c.st  
			LEFT JOIN 
		(SELECT 0 as st,
			sum(a.delv_cnt) delv_cnt
		FROM
			`bas_s_bigdata_busi` a
		INNER JOIN org_inf k ON a.dbct_cd = k.Org_Cd
		<where>
			a.stats_dt = #{curDate}
		<include refid="condition_filter"/>
    	</where>
		GROUP BY a.`stats_dt`
		UNION ALL SELECT 0,0
		limit 1
		) a  on c.st = a.st
	</select>
	
	<select id="sendAQuantityForNull" resultType="map" parameterType="map">
	SELECT
		0 delvCnt,
		0 daysFrom,
		0 weeksFrom
	</select>

	<select id="dwmAvgSucRate" parameterType="map" resultType="map">
		select 
			a.lastDayTheAmount successRateTheDay,
			c.lastMonthTheAmount successRateTheMonth,
			b.lastWeekTheAmount successRateTheWeek
		FROM
		(
			SELECT
				a.stats_dt,
				0 as st,
				round(a.cfm_rcv_rt, 2) lastDayTheAmount
			FROM
				`bas_s_bigdata_busi` a
			INNER JOIN org_inf k
			ON a.dbct_cd = k.Org_Cd
			<where>	
				a.stats_dt = date_sub(
					date_format(#{curDate}, '%Y-%m-%d'),
					INTERVAL 1 DAY
				)
			<include refid="condition_filter"/>
     		</where>
     		GROUP BY 1
     		UNION ALL SELECT 0,0,0
		limit 1
		) a left join 
		(
			SELECT
				date_format(a.stats_dt, '%Y-%m'),
				0 as st,
				round(avg(a.cfm_rcv_rt), 0) lastWeekTheAmount
			FROM
				`bas_s_bigdata_busi` a
			INNER JOIN org_inf k
			ON a.dbct_cd = k.Org_Cd
			<where>	
				a.stats_dt BETWEEN DATE_SUB(
					subdate(#{curDate},if(date_format(#{curDate},'%w')=0,7,date_format(#{curDate},'%w'))-1),
					INTERVAL 1 WEEK
				)
			AND DATE_SUB(
				subdate(#{curDate},if(date_format(#{curDate},'%w')=0,7,date_format(#{curDate},'%w'))-7),
				INTERVAL 1 WEEK
			)
			<include refid="condition_filter"/>
     		</where>
     		GROUP BY 1
     		UNION ALL SELECT 0,0,0
		limit 1
		) on a.st = b.st left join b
		(
			SELECT
				date_format(a.stats_dt, '%Y-%m'),
				0 as st,
				round(
					sum(a.cfm_rcv_rt) / datediff(
						date_format(#{curDate}, '%Y-%m-%d'),
						DATE_ADD(
							date_format(#{curDate}, '%Y-%m-%d'),
							INTERVAL - DAY (
								date_format(#{curDate}, '%Y-%m-%d')
							) + 1 DAY
						)
					),
					0
				) lastMonthTheAmount
			FROM
				`bas_s_bigdata_busi` a
			INNER JOIN org_inf k
			ON a.dbct_cd = k.Org_Cd
			<where>
				a.stats_dt >= DATE_ADD(
				date_format(#{curDate}, '%Y-%m-%d'),INTERVAL - DAY (date_format(#{curDate}, '%Y-%m-%d')) + 1 DAY
			)
			AND a.stats_dt &lt; #{curDate}
			<include refid="condition_filter"/>
     		</where>
     		GROUP BY 1
     		UNION ALL SELECT 0,0,0
		limit 1
		) on b.st = c.st
	</select>
	
	

	<select id="siteAndSucRate" resultType="com.yd.ydbi.business.model.SitSucRate" parameterType="map">
		SELECT
			<include refid="select_org_nm_cd_condition"/>
			round(sum(a.cfm_rcv_cnt)/sum(a.delv_cnt)*100,2) successRateTheDay
		FROM
			bas_s_bigdata_busi a
		INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
		<where> stats_dt = #{curDate}
		<include refid="condition_filter"/>
    	</where>
		group by <include refid="group_by_condition"/>, a.stats_dt
		order by successRateTheDay desc
		</select>
		
	<select id="siteAndSucRateForNull" resultType="com.yd.ydbi.business.model.SitSucRate" parameterType="map">
		SELECT
			<include refid="select_org_nm_cd_condition"/>
			0 as successRateTheDay
		FROM
			bas_s_bigdata_busi a
		INNER JOIN org_inf k ON a.dbct_cd = k.org_cd
		<where> k.grtr_dist_nm &lt;> ''
		<include refid="condition_filter"/>
    	</where>
		group by 1
		order by successRateTheDay desc
	</select>

	<!-- 单日签收率网点完成率趋势图 -->
	<select id="standardNetworkTrend" parameterType="map" resultType="map">
		SELECT
			a.stats_dt,
			sum(dbct_cnt1_low) dbct_cd_count_lt80,
			sum(dbct_cnt1_mid) dbct_cd_count_80_95,
			sum(dbct_cnt1_up) dbct_cd_count_gt95
		FROM
			bas_s_bigdata_busi a inner join org_inf k on a.dbct_cd = k.org_cd
		<where>
			a.stats_dt > DATE_SUB(#{curDate},INTERVAL 15 DAY)
		and a.stats_dt &lt;= #{curDate}
		<include refid="condition_filter"/>
	    </where>
		GROUP BY a.stats_dt
	</select>
	
	<sql id="group_by_condition">
		(case when #{sel_level} = 0 then k.grtr_dist_cd
	          	when #{sel_level} = 1 then k.prov_cd
				else k.org_cd
				end
		)
	</sql>
	<sql id="select_org_nm_cd_condition">
		(case when #{sel_level} = 0 then grtr_dist_nm
           	when #{sel_level} = 1 then k.prov_nm
			else k.org_nm
			end) orgName,
		(case when #{sel_level} = 0 then grtr_dist_cd
          	when #{sel_level} = 1 then k.prov_cd
		else k.org_cd
		end) orgCode,
	</sql>
</mapper>