<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css"
	href="../../js/jquery-easyui/themes/gray/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="../../js/jquery-easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="../../css/common.css" />
<script type="text/javascript"
	src="../../js/jquery-easyui/jquery.min.js"></script>
<script type="text/javascript"
	src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../js/validate.js"></script>
<script type="text/javascript" src="../../js/json2.js"></script>
<script type="text/javascript" src="../../js/jcdf-contants-1.0.js"></script>
<script type="text/javascript" src="../../js/jcdf-1.0.js"></script>
<script type="text/javascript">
	var id_log_id = "";
	var pageId = 'cip_admin_log_job_form';
	var actionUrl;
	var actionId;
	var tableId;
	var mode = "";
	var callUrl;
	var getUrl = appId
			+ "/actions/admin_log_job/getData.do?actionId=cip_admin_log_job_getData";
	var formTemplate = "#form_cip_admin_log_job";
	var listId = "cip_admin_log_job_list";
	var ddicUrl = appId
			+ '/actions/common/domain/getDomains.do?actionId=system_getDomains&domainId=';
	var editHistoryData = null;

	var urlResource = appId
			+ "/actions/common/user/getResources.do?actionId=system_getResources&resource_id=";
	var urlActionForm = ""; //action form url
	var authActions = {}; //当前用户授权的行为项目
	var expellActions = {};

	$(function() {
		init();
		//保存按钮单击事件
		$("#btn_save").bind("click", function() {
			submitData();
		});
		//取消按钮单击事件
		$("#btn_cancel").bind("click", function() {
			$$.closeJcdfDialog();
		});
	});

	function init() {
		id_log_id = $$.QueryString("log_id");
		actionUrl = $$.QueryString("actionUrl");
		tableId = $$.QueryString("tableId");
		mode = $$.QueryString("mode");
		actionId = $$.QueryString("refActionId");

		loadCombobox('error_code', 'error_code');

		callUrl = actionUrl + "?actionId=" + actionId;
		if (mode == "edit") {
			loadEditData();
			$('#log_id').attr({
				editable : false
			});
		} else if (mode == "display") {
			loadEditData();
			$('#btn_save').hide();
		} else if (mode == "add") {
			$('#log_id').val('');

			$('#task_id').val('');
			$('#step_id').val('');
			$('#step_msg').val('');
			$('#error_code').combobox('setValue', '');
			$('#occur_time').datetimebox('setValue', getTimeStamp());
		}

	};

	/**
	 * 加载历史数据，用于修改
	 */
	function loadEditData() {
		$$.openProcessingDialog();
		var jsonData = {
			"log_id" : id_log_id
		};
		$.ajax({
			type : "POST",
			url : getUrl,
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(jsonData),
			success : function(oData) {
				$$.closeProcessingDialog();
				if (oData != null && oData.errorCode == 0) {
					editHistoryData = oData.data;
					//填充修改记录的历史数据
					$(formTemplate).form('load', editHistoryData);
				} else {
					$$.showJcdfMessager('提示消息', oData.msg, 'warning');
				}
			}
		});
	}

	function submitData() {
		if (!$(formTemplate).form('validate')) {
			return false;
		}
		var jsonData = $$.serializeToJson(formTemplate);
		if (!jsonData)
			return false;
		//如果数据验证通过(即数据合法)
		$$.openProcessingDialog();

		//ajax提交数据
		$.ajax({
			type : "POST",
			url : callUrl,
			dataType : "json",
			data : JSON.stringify(jsonData),
			contentType : "application/json",
			success : function(data) {
				$$.closeProcessingDialog();
				if (data && data.errorCode == 0) {
					$$.showJcdfMessager('提示消息', '操作成功', 'info');
					$$.closeJcdfDialog();
					$$.refreshJcdfDatagrid(tableId);
				} else {
					$$.showJcdfMessager('提示消息', data.msg + '(' + data.errorCode
							+ ')', 'warning');
				}
			}
		});
	};
</script>
</head>
<body>
	<div id="area_form">
		<form id="form_cip_admin_log_job" class="form">
			<table>
				<tr>
					<td class="right"><label for="log_id">日志id:</label></td>
					<td class="left"><input type="" id="log_id" name="log_id"
						 class="easyui-numberbox" style="height:28px;width:220px"
						data-options="required:true" /></td>
				</tr>

				<tr>
					<td class="right"><label for="task_id">批量任务id:</label></td>
					<td class="left"><input type="text" id="task_id"
						name="task_id" style="height:26px;width:220px" class="easyui-validatebox"
						data-options="required:false" /></td>
				</tr>
				<tr>
					<td class="right"><label for="step_id">步骤id:</label></td>
					<td class="left"><input type="" id="step_id" name="step_id"
						style="height:28px;width:232px" class="easyui-numberbox"
						data-options="required:false" /></td>
				</tr>
				<tr>
					<td class="right"><label for="step_msg">步骤信息:</label></td>
					<td class="left"><textarea type="" id="step_msg"
							name="step_msg" style="height:50px;width:220px" class="easyui-validatebox"
							data-options="required:false"></textarea></td>
				</tr>
				<tr>
					<td class="right"><label for="error_code">错误代码:</label></td>
					<td class="left"><input type="text" id="error_code"
						name="error_code" style="height:28px;width:232px" class="easyui-combobox"
						data-options="required:false" /></td>
				</tr>
				<tr>
					<td class="right"><label for="occur_time">记录时间:</label></td>
					<td class="left"><input type="text" id="occur_time"
						name="occur_time" style="width:232px;height:28px;" class="easyui-datetimebox"
						data-options="required:false" /></td>
				</tr>
			</table>
		</form>
	</div>
	<div class="button-section">
		<a id="btn_save" href="#" class="easyui-linkbutton" iconCls="icon-ok">确定</a>
		<a id="btn_cancel" href="#" class="easyui-linkbutton"
			iconCls="icon-cancel">取消</a>
	</div>

</body>
</html>