html{font-size:10px}
@media screen and (min-width:350px){html{font-size:12px !important;}}
@media screen and (min-width:400px){html{font-size:14px !important;}}
@media screen and (min-width:430px){html{font-size:15px !important;}}
/* p{
	font-size: 1.4rem ;
} */

.watermark{
	height: 5.5rem;
	width:  5.5rem;
	background-color:#fabe00 ;
	position: absolute;
	right:1em ;
	top: 4rem;
	padding: 0px ;
	margin: 1rem ;
	border-radius:5.5rem;
	border:solid white 0.1rem;;
	box-shadow:0.2rem 0.2rem grey ;
}

.watermark ul,li{
	margin: 0px ;
	padding: 0px ;
}
.watermark  ul{
	padding-top: 1.4rem ;	
}
.watermark  ul li{
	list-style: none ;
	text-align: center ;
	text-decoration:blink ;
	font-size: 1rem;
}