<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.ydbi.matrix.dao.Matrix_shipment_sumMapper" >

  <!-- 开启二级缓存 每隔10分钟刷新一次缓存-->
  <cache flushInterval="600000" type="com.yd.ydbi.common.cache.MyBatisRedisCache" />

  <resultMap id="BaseResultMap" type="com.yd.ydbi.matrix.model.Matrix_shipment_sum" >
    <result column="dbct_name" property="dbctName" jdbcType="VARCHAR" />
    <result column="eqpt_id" property="eqptId" jdbcType="VARCHAR" />
    <result column="ln_id" property="lnId" jdbcType="VARCHAR" />
    <result column="oper_cnt" property="operCnt" jdbcType="INTEGER" />
    <result column="oper_wgt" property="operWgt" jdbcType="VARCHAR" />
  </resultMap>
 
  <select id="searchData" parameterType="java.util.Map" resultMap="BaseResultMap" useCache="false">
	  <![CDATA[
		    SELECT
				CONCAT(g.mc,'(',d.dbct_cd,')') AS dbctName,
				d.eqpt_id AS eqptId,
				d.ln_id AS lnId,
				SUM(d.oper_cnt) AS operCnt,
				SUM(d.oper_wgt) AS operWgt
			FROM
				matrix.daw_s_hei_dbct_ship_tot_v d
			LEFT JOIN 
				ydserver.gs g ON d.dbct_cd = g.bm
			WHERE
				d.stats_tm >=DATE_FORMAT(#{start_dt,jdbcType=DATE},'%Y-%m-%d %H:%i:%s')
			AND
				d.stats_tm <= DATE_FORMAT(#{end_dt,jdbcType=DATE},'%Y-%m-%d %H:%i:%s')
			and d.dbct_cd = if(#{sel_dbct_id,jdbcType=INTEGER}=0,d.dbct_cd,#{sel_dbct_id,jdbcType=INTEGER})
			and d.eqpt_id = if(#{eqpt_id,jdbcType=VARCHAR}="",d.eqpt_id,#{eqpt_id,jdbcType=VARCHAR})
			and d.ln_id = if(#{ln_id,jdbcType=VARCHAR}="",d.ln_id,#{ln_id,jdbcType=VARCHAR})
			group by 1,2,3
			order by 1,2,3
			LIMIT #{start_num,jdbcType=INTEGER},#{row_num,jdbcType=INTEGER}
		]]>
  </select>
  
  <select id="searchFooterData" parameterType="java.util.Map" resultMap="BaseResultMap" useCache="false">
	  <![CDATA[
		    SELECT COUNT(*)  AS dbctName
		    FROM(
			    SELECT
			    CONCAT(g.mc,'(',d.dbct_cd,')') AS dbct,
					d.eqpt_id AS eqptId,
					d.ln_id AS lnId
				FROM
					matrix.daw_s_hei_dbct_ship_tot_v d
				LEFT JOIN 
					ydserver.gs g 
				ON 
					d.dbct_cd = g.bm
				WHERE
					d.stats_tm >=DATE_FORMAT(#{start_dt,jdbcType=DATE},'%Y-%m-%d %H:%i:%s')
				AND
					d.stats_tm <= DATE_FORMAT(#{end_dt,jdbcType=DATE},'%Y-%m-%d %H:%i:%s')
				and d.dbct_cd = if(#{sel_dbct_id,jdbcType=INTEGER}=0,d.dbct_cd,#{sel_dbct_id,jdbcType=INTEGER})
				and d.dbct_cd = if(#{sel_dbct_id,jdbcType=INTEGER}=0,d.dbct_cd,#{sel_dbct_id,jdbcType=INTEGER})
				and d.eqpt_id = if(#{eqpt_id,jdbcType=VARCHAR}="",d.eqpt_id,#{eqpt_id,jdbcType=VARCHAR})
				and d.ln_id = if(#{ln_id,jdbcType=VARCHAR}="",d.ln_id,#{ln_id,jdbcType=VARCHAR})
				group by 1,2,3
			) b
		]]>
  </select>
</mapper>