<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.ydbi.api.cvp.dao.YdbiBusinessTargetQuarterMapper">
	<!-- 开启二级缓存 每隔10分钟刷新一次缓存-->
	<cache flushInterval="600000" type="com.yd.ydbi.common.cache.MyBatisRedisCache" />

	<resultMap id="BaseResultMap" type="com.yd.ydbi.api.cvp.model.YdbiBusinessTargetQuarter">
		<result column="data_date" property="data_date" jdbcType="VARCHAR" />
		<result column="t_data_date" property="t_data_date" jdbcType="VARCHAR" />
		<result column="org_id" property="org_id" jdbcType="VARCHAR" />
		<result column="org_name" property="org_name" jdbcType="VARCHAR" />
		<result column="quarter_time" property="quarter_time" jdbcType="VARCHAR" />
		<result column="goal_values" property="goal_values" jdbcType="VARCHAR" />
		<result column="actual_values" property="actual_values" jdbcType="VARCHAR" />
		<result column="actual_residual_quantity" property="actual_residual_quantity" jdbcType="VARCHAR" />
		<result column="residual_quantity" property="residual_quantity" jdbcType="VARCHAR" />
		<result column="residual_quantity_percent" property="residual_quantity_percent" jdbcType="VARCHAR" />
		<result column="period_finish_percent" property="period_finish_percent" jdbcType="VARCHAR" />
		<result column="finish_percent" property="finish_percent" jdbcType="VARCHAR" />
		<result column="day_percent" property="day_percent" jdbcType="VARCHAR" />
		<result column="volatility_values" property="volatility_values" jdbcType="VARCHAR" />
		<result column="superior_org_name" property="superior_org_name" jdbcType="VARCHAR" />
		<result column="week_percent" property="week_percent" jdbcType="VARCHAR" />
		<result column="month_even" property="month_even" jdbcType="VARCHAR" />
		<result column="week_even" property="week_even" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 季度趋势-->
	<select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap" useCache="false">
	<![CDATA[
	SELECT
		 c.stats_dt  AS data_date,
		 case when #{sel_level} = '1' then o.grtr_dist_cd 
			 when #{sel_level} = '2' then o.prov_cd 
			 when #{sel_level} = '5' then o.org_cd
		     else c.stats_dt  end  AS org_id,
		IFNULL(Round((SUM(c.trgt_val)/10000),2),0) AS goal_values,
		IFNULL(Round((SUM(c.pick_cnt)/10000),2),0) AS actual_values,
		#{quartestart} AS t_data_date
		FROM (
			SELECT 
				a.stats_dt AS stats_dt,
				a.dbct_cd AS dbct_cd,
				a.pick_cnt AS pick_cnt,
				b.trgt_val AS trgt_val
			FROM (	
				SELECT 
					CONCAT(DATE_FORMAT(a.stats_dt,'%Y'),'-',quarter(a.stats_dt)) AS stats_dt,		
					a.dbct_cd AS dbct_cd,
					SUM(a.pick_cnt) AS pick_cnt
				FROM ydbi.bas_s_bigdata_busi a
				where a.stats_dt>=#{quartestart} AND a.stats_dt<#{quarteend}
				GROUP BY 1,2
			) a
			LEFT JOIN (
				SELECT 
					CONCAT(DATE_FORMAT(b.pick_dt,'%Y'),'-',quarter(b.pick_dt)) AS pick_dt,
					b.dbct_cd AS dbct_cd,
					SUM(b.trgt_val) AS trgt_val
				FROM  ydbi.dbct_trgt_val_tbl b
				where b.pick_dt>=#{quartestart} AND b.pick_dt<#{quarteend}
				GROUP BY 1,2
				) b
				ON a.stats_dt = b.pick_dt
				AND a.dbct_cd = b.dbct_cd
			) c
			LEFT JOIN org_inf o
			ON c.dbct_cd = o.org_cd
		]]>
		<where> 
			<![CDATA[ 
			AND o.org_typ = '3'
			AND o.start_tm<=#{quartestart} AND o.end_tm >=#{quarteend} ]]>
				<if test='sel_cd =="0" and sel_level == "0" '>
					 AND o.grtr_dist_cd in ('1','2','3','4','5','6')
				</if>
				<if test='sel_level!=null and sel_level == "1" '>
					AND o.grtr_dist_cd =#{sel_cd}
				</if>
				<if test='sel_level!=null and sel_level == "2" '>
					AND o.prov_cd =#{sel_cd}
				</if>
				<if test='sel_level!=null and sel_level == "5" '>
					AND o.org_cd =#{sel_cd}
				</if>
		    </where>
		GROUP BY 1,2
	</select>
<!-- 完成率排名 -->
<select id="selectFinish" parameterType="java.util.Map" resultMap="BaseResultMap">
	<![CDATA[
SELECT
	case when #{sel_level} = '1' then b.prov_cd 
		 when #{sel_level} = '2' then b.org_cd 
		 when #{sel_level} = '5' then b.org_cd
		 else b.grtr_dist_cd  end  AS org_id,
	case when #{sel_level} = '1' then b.prov_nm 
		 when #{sel_level} = '2' then b.org_nm 
		 when #{sel_level} = '5' then b.org_nm
		 else b.grtr_dist_nm  end  AS org_name,
	IFNULL(Round((SUM(a.trgt_val)/100000000),2),0) AS goal_values,
	IFNULL(Round((SUM(a.pick_cnt)/100000000),2),0) AS actual_values,
	IFNULL(Round(SUM(a.pick_cnt)/SUM(a.trgt_val)*100,2),0) AS finish_percent
FROM ydbi.org_inf b
LEFT JOIN (
	SELECT
		a.dbct_cd AS dbct_cd,
		c.trgt_val AS trgt_val, 
		a.pick_cnt AS pick_cnt
	FROM ydbi.bas_s_bigdata_busi a
	LEFT JOIN ydbi.dbct_trgt_val_tbl c
	ON a.dbct_cd = c.dbct_cd
	AND a.stats_dt = c.pick_dt
	where CONCAT(DATE_FORMAT(a.stats_dt,'%Y'),'-',quarter(a.stats_dt)) = CONCAT(DATE_FORMAT(#{data_date},'%Y'),'-',quarter(#{data_date}))
	)a
ON a.dbct_cd = b.org_cd
]]>
<where>
		AND b.org_typ = '3'
	<![CDATA[AND b.start_tm<=#{data_date} AND b.end_tm >=#{data_date}]]>
		<if test='sel_cd =="0" and sel_level == "0" '>
			 
			 AND b.grtr_dist_cd in ('1','2','3','4','5','6')
		</if>
		<if test='sel_level!=null and sel_level == "1" '>
			AND b.grtr_dist_cd =#{sel_cd}
		</if>
		<if test='sel_level!=null and sel_level == "2" '>
			AND b.prov_cd =#{sel_cd}
		</if>
		<if test='sel_level!=null and sel_level == "5" '>
			AND b.org_cd =#{sel_cd}
		</if>
    </where>
GROUP BY 1,2
ORDER BY finish_percent DESC
LIMIT #{page1,jdbcType=INTEGER},#{rows1,jdbcType=INTEGER}
</select>
<!-- 波动率排名 -->
<select id="selectVolat" parameterType="java.util.Map" resultMap="BaseResultMap" useCache="false">
SELECT
	a.dbct_cd  AS org_id,
	a.dbct_name  AS org_name,
	IFNULL(Round((a.finish_percent*100-b.finish_percent*100),2),0) AS volatility_values,
	IFNULL(Round(b.finish_percent*100,2),0) AS period_finish_percent,
	IFNULL(Round(a.finish_percent*100,2),0) AS  finish_percent
FROM (
	SELECT 	
		#{data_date} AS stats_dt,
		case when #{sel_level} = '1' then oi.prov_cd 
				when #{sel_level} = '2' then oi.org_cd 
				when #{sel_level} = '5' then oi.org_cd
				else oi.grtr_dist_cd  end  AS dbct_cd,
		case when #{sel_level} = '1' then oi.prov_nm 
				when #{sel_level} = '2' then oi.org_nm 
				when #{sel_level} = '5' then oi.org_nm
				else oi.grtr_dist_nm  end  AS dbct_name,
		IFNULL(SUM(a.pick_cnt)/SUM(a.trgt_val),0)  AS  finish_percent 
	FROM ydbi.org_inf oi
	LEFT JOIN (
		SELECT
			a.dbct_cd AS dbct_cd,
			c.trgt_val AS trgt_val, 
			a.pick_cnt AS pick_cnt
		FROM ydbi.bas_s_bigdata_busi a
		LEFT JOIN ydbi.dbct_trgt_val_tbl c
		ON a.dbct_cd = c.dbct_cd
		AND a.stats_dt = c.pick_dt
		where CONCAT(DATE_FORMAT(a.stats_dt,'%Y'),'-',quarter(a.stats_dt)) = CONCAT(DATE_FORMAT(#{data_date},'%Y'),'-',quarter(#{data_date}))
		)a
	ON a.dbct_cd = oi.org_cd
	<where> 
			AND oi.org_typ = '3'
			<![CDATA[AND oi.start_tm<=#{data_date} AND oi.end_tm >=#{data_date}]]>
				<if test='sel_cd =="0" and sel_level == "0" '>
					AND oi.grtr_dist_cd in ('1','2','3','4','5','6')
				</if>
				<if test='sel_level!=null and sel_level == "1" '>
					AND oi.grtr_dist_cd =#{sel_cd}
				</if>
				<if test='sel_level!=null and sel_level == "2" '>
					AND oi.prov_cd =#{sel_cd}
				</if>
				<if test='sel_level!=null and sel_level == "5" '>
					AND oi.org_cd =#{sel_cd}
				</if>
			</where>
	GROUP BY 1,2
	) a
LEFT JOIN (
	SELECT 	
		#{data_date} AS stats_dt,
		case when #{sel_level} = '1' then oi.prov_cd 
				when #{sel_level} = '2' then oi.org_cd 
				when #{sel_level} = '5' then oi.org_cd
				else oi.grtr_dist_cd  end  AS dbct_cd,
		case when #{sel_level} = '1' then oi.prov_nm 
				when #{sel_level} = '2' then oi.org_nm 
				when #{sel_level} = '5' then oi.org_nm
				else oi.grtr_dist_nm  end  AS dbct_name,
		IFNULL(SUM(a.pick_cnt)/SUM(a.trgt_val),0)  AS  finish_percent 
	FROM ydbi.org_inf oi
	LEFT JOIN (
		SELECT
			a.dbct_cd AS dbct_cd,
			c.trgt_val AS trgt_val, 
			a.pick_cnt AS pick_cnt
		FROM ydbi.bas_s_bigdata_busi a
		LEFT JOIN ydbi.dbct_trgt_val_tbl c
		ON a.dbct_cd = c.dbct_cd
		AND a.stats_dt = c.pick_dt
		where CONCAT(DATE_FORMAT(a.stats_dt,'%Y'),'-',quarter(a.stats_dt)) = CONCAT(DATE_FORMAT(DATE_SUB(#{data_date},INTERVAL 3 MONTH),'%Y'),'-',quarter(DATE_SUB(#{data_date},INTERVAL 3 MONTH)))
		)a
	ON a.dbct_cd = oi.org_cd
	<where> 
		AND oi.org_typ = '3'
			<![CDATA[AND oi.start_tm<=#{data_date} AND oi.end_tm >=#{data_date}]]>
				<if test='sel_cd =="0" and sel_level == "0" '>
					AND oi.grtr_dist_cd in ('1','2','3','4','5','6')
				</if>
				<if test='sel_level!=null and sel_level == "1" '>
					AND oi.grtr_dist_cd =#{sel_cd}
				</if>
				<if test='sel_level!=null and sel_level == "2" '>
					AND oi.prov_cd =#{sel_cd}
				</if>
				<if test='sel_level!=null and sel_level == "5" '>
					AND oi.org_cd =#{sel_cd}
				</if>
			</where>
	GROUP BY 1,2
		)b
ON a.stats_dt = b.stats_dt
AND a.dbct_cd = b.dbct_cd
GROUP BY 1
ORDER BY volatility_values DESC
LIMIT #{page1,jdbcType=INTEGER},#{rows1,jdbcType=INTEGER}
</select>
</mapper>