*{margin:0px; padding:0px; font-family:微软雅黑;}
body {
	height: 100%;
	width: 100%	;
    vertical-align:middle;  
}
.area{
	height:100%;
}
.area .area-title{
	font-size:12px;
	padding:5px 0;
}
.area .area-body{	
	background-color: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS
	-moz-box-shadow: 0px 0px 3px #c0c0c0;
	-webkit-box-shadow: 0px 0px 3px #c0c0c0;
	box-shadow: 0px 0px 3px #c0c0c0;*/
	padding:1px;
	border:1px solid #d2d2d2;	
}
.autoAdapt{
	position:absolute;
	top:30px;
	bottom:0px;
	left:0px;
	right:0px;
}
.button-section{
    text-align:right; 
	margin-top:8px;
	margin-right:30px
}
.link{
	text-decoration:underline;
	color:blue;
}
label{
	color:gray;
}
form table tr{
	height:36px;
}
input,.validatebox-text, .textbox  ,.datebox ,.combo{
	border:1px solid silver;
/*	-moz-box-shadow: 0px 0px 2px #c0c0c0;
	-webkit-box-shadow: 0px 0px 2px #c0c0c0;
	box-shadow: 0px 0px 2px #c0c0c0;
*/	
}

/*覆盖easyui默认样式*/
.layout-body{
	 background:#f0f0f0;
}
.layout-split-east .panel-header{
	/* padding:3px !important; */
}
#treeMenu{
	top:35px!important;
}
/*输入框*/
textarea{
	width:240px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:0 5px;
}
.validatebox-text, .textbox  ,.datebox ,.combo{
	/* width:240px;
	height:26px; */
	line-height:26px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:0 5px;
	/* border-color:#fabe00; */
}
.textbox .textbox-text{
	padding:0px !important;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow: none;
}
.textbox-invalid{
	background-color: #ffffff;
}
.validatebox-invalid{
	border-color: #ffcc00;
	background-color:white;
}
/*页面按钮 */
.button-section .l-btn{
	width:80px;
	height:29px;
	-moz-box-shadow: 0px 0px 0px #c0c0c0;
	-webkit-box-shadow: 0px 0px 0px #c0c0c0;
	box-shadow: 0px 0px 0px #c0c0c0;
	overflow: auto;
	overflow-y:hidden;
	border-radius:5px;
 	background: url('../img/blank_center.png') repeat-x 0px -1px ;
 }
.button-section .l-btn:hover{
	border-radius:5px;
	background: url('../img/btn_center.png') repeat-x 0px -1px ;	
}
.l-btn-text{
	height: 30px;
	line-height: 30px;
}
.l-btn-plain{
	
}
/*datagrid上操作按钮*/
.l-btn-plain:hover{
/*  background:#c0c0c0;*/
   -moz-box-shadow: 0px 0px 0px #c0c0c0;
	-webkit-box-shadow: 0px 0px 0px #c0c0c0;
	box-shadow: 0px 0px 0px #c0c0c0;
    border-radius:5px;
 	background: url('../img/btn.png') repeat-x 0px -1px;
}
.pagination .l-btn-small{
	width:30px;
}
/*面板*/
.panel-body{
    background-color:#F0F0F0;  
	border-color:silver;
}
.panel-tool-max {
  display:none !important;
}
.panel-tool-close {
  margin:2px 15px 0px 0px !important;
}
/*表格*/
.datagrid-toolbar {
  border-width: 0px;
  border-bottom:1px solid #ddd!important;	
}
.datagrid-header-row, .datagrid-row{
	height:30px;
}
.panel-header{
	height:20px;
	line-height:20px;
	background:#f1f1f1;
	border-color:silver;	
}
/*窗口*/
.window{
	padding:0px;
}
.window .window-body{
	padding:10px 10px 10px 10px;  
	border-radius: 3px;
}
.window .window-header{
	background:#3e3c3c;
	height:30px;
}
.window .window-header .panel-title{
	height:30px;
	line-height:30px;
	color:white;
	padding-left:10px;
}
.window-proxy-mask,
.window-mask {
  background: #444;
}
/*进度条*/
.progressbar{
	height:12px !important;
	border-color:silver;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
}
.progressbar-value .progressbar-text{
	background:#ffcc00;
}
/*开关按钮*/
.switchbutton{
	 width:70px!important;
}
.switchbutton-on{
	background:#ffcc00;
	color:white;
}
.switchbutton-off{
	background:gray;
	color:white;
}
/*滑动条*/
.slider-inner{
	border-color: silver;
	background: #ffcc00;
}
.switchbutton-handle {
  background-color: #ebebeb;
}
.slider-tip{
	width: 30px;
	height: 16px;
	text-align: center;
	background: black;
	color: white;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	line-height: 16px;
}
.accordion{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.accordion .accordion-header{
	background: #f1f1f1;
}
.accordion .accordion-header-selected{
	background: #ffcc00;
}
.tabs-header{
	border-width:0px;
	background:transparent;
}
.tabs-container{
	border-radius:5px;
}
/*下拉框*/
.combobox-item-hover {
  background-color: #a4dbe9;
  color: #000000;
}
.combobox-item-selected {
  background-color: #FCDD86;
  color: #000000;
}
#area_form{
	 padding-left:100px;
	padding-right:100px;
	padding-top:10px; 
}
.datagrid-header .datagrid-cell span{
	font-weight: bold;
}