<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/gray/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../../js/validate.js"></script>
	<script type="text/javascript" src="../../js/json2.js"></script>
	<script type="text/javascript" src="../../js/jcdf-1.0.js"></script>
	<script type="text/javascript" src="../../js/jcdf-contants-1.0.js"></script>
	<script type="text/javascript" src="../../js/echarts-all.js"></script>
	<script type="text/javascript" src="../../js/combobox-company.js"></script>
	<script type="text/javascript" src="../../js/tool.js"></script>
	<script type="text/javascript" src="../../js/jcdf-index-1.0.js"></script>
	<script type="text/javascript">
		var objectName = '交叉带分拣操作数据明细表';
		var listTemplate = '#matrix_cross_ship_dtl';
		var listId = "matrix_cross_ship_dtl";
		var formSearchTemplate = '#matrix_cross_ship_dtl_searchForm';
		var searchFormId = "matrix_cross_ship_dtl_searchForm";
		var gridMenuId = '#matrix_cross_ship_dtl_menu';
		
		var urlSearch = appId + '/actions/matrixCross/shipDtl/searchData.do?actionId=matrix_cross_ship_dtl_searchData';
		var urlExport= appId + '/actions/matrixCross/shipDtl/exportEntities.do?actionId=matrix_cross_ship_dtl_exportEntities';
		var ddicUrl = appId + '/actions/common/domain/getDomains.do?actionId=system_getDomains&domainId=';
		var pageId = 'matrix_cross_ship_dtl';
		
		var urlResource = appId + "/actions/common/user/getResources.do?actionId=system_getResources&resource_id=";
		var urlActionForm = ""; //action form url
		var authActions = {}; //当前用户授权的行为项目
		//当前用户需要特殊处理的按钮，不在menubar上显示的 
		var isDatagridLoaded = false;
		var thisUrl = document.URL;
		
		$(function(){
			$('#start_dt,#end_dt').datetimebox({'editable':false});
			$('#ship_typ').combobox({    
 			    url:appId+"/actions/matrixCross/tool/getShipTypName.do?actionId=matrix_cross_tool_getShipTypName",    
			    valueField:'id',    
			    textField:'name', 
			    editable:false,
		    	filter: function(q, row){
		 			var opts = $(this).combobox('options');
		 			return row[opts.textField].indexOf(q) > -1;
		 		},
		 		loadFilter:function(oData){
			    	var data = oData.data;
			    	data.unshift({"id":"","name":"请选择"});
			    	return data;
			    }
			});  
			authControl();
			loadDatagrid();
			//跳转带来的参数
			var params = thisUrl.split('?')[1].replace(/%20/g, " ");
			if(params.indexOf('&') > -1){
		
				var adbct = params.split('&')[1].split('=')[1];
				if($('#sel_dbct').val() == null || $('#sel_dbct').val() ==''){
					$('#sel_dbct').combobox('setValue',adbct);
				}
				var astart_date = params.split('&')[2].split('=')[1];
				$('#start_dt').datetimebox('setValue',astart_date);
				var aend_date = params.split('&')[3].split('=')[1];
				$('#end_dt').datetimebox('setValue',aend_date);
				var aeqpt_id =params.split('&')[4].split('=')[1];
				$('#eqptCd').val(aeqpt_id);
				var itm_id = params.split('&')[5].split('=')[1];
				$('#itmId').val(itm_id);
				var add_cd = params.split('&')[6].split('=')[1];
				if(add_cd==1)
					$('#add_cd').attr('checked', true);
				var oper_typ = params.split('&')[7].split('=')[1];
			    $("#operTyp").val(oper_typ);
			    $("#operTyp").find('option[text="'+oper_typ+'"]').attr("selected",true);
			    sel_level=$("#sel_level").val();
			    sel_cd=$("#sel_cd").val();
			    
				var aparams = {"sel_level":sel_level,"sel_cd":sel_cd,"area_id":"","dbct_id":"","start_dt":astart_date,"end_dt":aend_date,"sel_dbct_id":adbct,"eqpt_id":aeqpt_id,"itm_id":itm_id,"ship_id":"","phy_port_id":"","add_cd":add_cd,"port_id":"","oper_typ":oper_typ};
				var aJson = { "search_condition" : JSON.stringify(aparams) };
				$(listTemplate).datagrid({
					queryParams: aJson,
					url:urlSearch			
				});
			}
		});
		
		function authControl(){
			var userData = null;
			$.ajax({
				type : "POST",
				url : c_url_get_user_profile,
				cache : false,
				async: false,
				dataType : "json",
				success : function(data) {
					if (null != data && data.errorCode==0) {
						userData = data.data;
					} else {
						$$.showJcdfMessager('提示消息', data.msg, 'warning'); 
					}
				}
			});
			
			$.each( userData.user_roles, function(i, n){
		             var roleVales = n.split("_");  
		             if(roleVales[0] == "dbct"){
		            	 var dbctName = '';
		            	 $.ajax({
		     				type : "POST",
		     				url :  appId+"/actions/tool/getOrgInf.do?actionId=tool_getOrgInf&sel_cd="+roleVales[1],
		     				cache : false,
		     				async: false,
		     				dataType : "json",
		     				success : function(data) {
		     					if (null != data && data.errorCode==0) {
		     						dbctName = data.data.orgName+'('+data.data.orgCd+')';
		     					} else {
		     						$$.showJcdfMessager('提示消息', data.msg, 'warning'); 
		     					}
		     				}
		     			});
		            	 $('#sel_dbct').val(dbctName);
			         		$('#dbctE').attr("disabled",false);
			         		 $('#dbctE').val(roleVales[1]);
			         		$('#sel_dbct').attr("disabled",true);
		         		 return false;
		             }
		           //省总账号
		             else if(roleVales[0] == "prov"){
		            	 $('#sel_dbct').combobox({
			     			    url:appId+"/actions/tool/getRegion.do?actionId=tool_getRegion&sel_level=14&sel_cd="+roleVales[1],    
			     			    valueField:'id',    
			     			    textField:'name',
			     				filter: function(q, row){
									var opts = $(this).combobox('options');
									return row[opts.textField].indexOf(q) > -1;
								},
				                onHidePanel : function() {  
				                	    var _options = $(this).combobox('options');  
				                	    var _data = $(this).combobox('getData');/* 下拉框所有选项 */  
				                	    var _value = $(this).combobox('getValue');/* 用户输入的值 */  
				                	    var _b = false;/* 标识是否在下拉列表中找到了用户输入的字符 */  
				                	    for (var i = 0; i < _data.length; i++) {  
				                	        if (_data[i][_options.valueField] == _value) {  
				                	            _b=true;  
				                	            break;  
				                	        }  
				                	    }  
				                	    if(!_b){  
				                	        $(this).combobox('setValue', '');  
				                	    }  
				                	}, 
			     			    loadFilter:function(oData){
			     			    	var data = oData.data;
			     			    	for(var i in data){
			     			    		data[i].name = data[i].name + "(" + data[i].id + ")";
			     			    	}
			     			    	data.unshift({"id":"","name":"请选择"});
			     			    	return data;
			     			    }
			     			});
			         		$('#sel_level').attr("disabled",false);
			         		$('#sel_level').val('14');
			         		//省总账号
			         		$('#sel_cd').attr("disabled",false);
			         		$('#sel_cd').val(roleVales[1]);
			            	return false;
			         }
		           //总部账号
		             else if(roleVales[0] == "hq" || roleVales[0] == "superAdmin"){
		            	 $('#sel_dbct').combobox({
		     			    url:appId+"/actions/tool/getRegion.do?actionId=tool_getRegion&sel_level=444&sel_cd=",    
		     			    valueField:'id',    
		     			    textField:'name',
		     				filter: function(q, row){
								var opts = $(this).combobox('options');
								return row[opts.textField].indexOf(q) > -1;
							},
			                onHidePanel : function() {  
			                	    var _options = $(this).combobox('options');  
			                	    var _data = $(this).combobox('getData');/* 下拉框所有选项 */  
			                	    var _value = $(this).combobox('getValue');/* 用户输入的值 */  
			                	    var _b = false;/* 标识是否在下拉列表中找到了用户输入的字符 */  
			                	    for (var i = 0; i < _data.length; i++) {  
			                	        if (_data[i][_options.valueField] == _value) {  
			                	            _b=true;  
			                	            break;  
			                	        }  
			                	    }  
			                	    if(!_b){  
			                	        $(this).combobox('setValue', '');  
			                	    }  
			                	}, 
		     			    loadFilter:function(oData){
		     			    	var data = oData.data;
		     			    	for(var i in data){
		     			    		data[i].name = data[i].name + "(" + data[i].id + ")";
		     			    	}
		     			    	data.unshift({"id":"","name":"请选择"});
		     			    	return data;
		     			    }
		     			});
		            	return false;
		             }
				});
		}

		function refresh(buttonId,actionUrl){
			$.ajax({
				   type: "POST",
				   url: actionUrl+"?actionId="+buttonId,
				   dataType:"json",
				   success: function(data){
				   	 	$$.closeProcessingDialog();
						if (data && data.errorCode == 0) {
							$$.showJcdfMessager('提示消息', '操作成功', 'info');
						} else {
							$$.showJcdfMessager('提示消息', data.msg, 'warning');
						}
				   }
			});
		};
		
		function searchData(buttonId,actionUrl){
			var start=$("#start_dt").datetimebox("getValue"); 
			var end=$("#end_dt").datetimebox("getValue");
			if(start == "" || end == ""){
				$$.showJcdfMessager('提示信息','日期不得为空','warning');
				return false;
			}
	   
			
			start = start.replace(/-/g,'/'); 
			end = end.replace(/-/g,'/'); 
			var timestampStart = new Date(start).getTime();
			
			var timestampEnd = new Date(end).getTime();
			var result=timestampEnd-timestampStart;
			if(result<0){
				$$.showJcdfMessager('提示消息', '起止日期不能大于结束日期', 'warning');
				return false;
			}
			
			var params = $$.serializeToJson(formSearchTemplate);
			var json = { "search_condition" : JSON.stringify(params) };
			if(isDatagridLoaded){
				$(listTemplate).datagrid('load', json );
			}else{
				$(listTemplate).datagrid({
					queryParams: json,
					url:urlSearch			
				});
				isDatagridLoaded = true;
			}	
		};
		
		function exportExcel(buttonId,actionUrl){
			var params = $$.serializeToJson(formSearchTemplate);
			$('#'+searchFormId).form('submit',{    
			    url:actionUrl,    
			    onSubmit: function(param){
			    	param.search_condition = JSON.stringify(params)
			    },
			    success: function(data){  
			    	if (data==null || data==""){
				        $$.showJcdfMessager('提示消息', "上次请求未完成，请稍候！", 'warning');
			    	}else{
				    	var oData = JSON.parse(data);
				        if (oData&&oData.errorCode){   
				        	$$.showJcdfMessager('提示消息', oData.msg, 'warning');   
				        } 
			      }
			    } 
			}); 		
		};
		
		function searchReset(){
			$(formSearchTemplate).form('reset');
			$("#sel_dbct").val($("#dbctE").val());
		};
		
		/**
		 * 页面加载时初始化datagrid列表并加载列表数据进行显示
		 */
		function loadDatagrid() {
			$(listTemplate).datagrid({
				title:objectName+'列表',
				height:$$.getDatagridHeight(),
				width:$$.getDatagridWidth(),
				idField:'',
				columns:[
				         	[
				         		{field:'shipId',title:'单号',width:150,align:'center',rowspan:1},
					         	{field:'shipTyp',title:'面单类型',width:100,align:'center',rowspan:1},
					         	{field:'operTyp',title:'操作类型',width:100,align:'center',rowspan:1},
					         	{field:'dbctName',title:'分拨中心',width:240,align:'center',rowspan:1},
								{field:'eqptId',title:'设备编号',width:150,align:'center',rowspan:1},
								{field:'itmId',title:'供件台号',width:100,align:'center',rowspan:1},
								{field:'physPortCd',title:'物理格口号',width:100,align:'center',rowspan:1},
								{field:'addCd',title:'视频补码',width:100,align:'center',rowspan:1},
								{field:'portCd',title:'逻辑格口',width:100,align:'center',rowspan:1},
								{field:'scanTm',title:'扫描时间',width:150,align:'center',rowspan:1},
								{field:'scanPers',title:'扫描人',width:100,align:'center',rowspan:1},
								{field:'frgtWgt',title:'重量',width:100,align:'center',rowspan:1}
							]
				         ],
				onBeforeLoad:function(){$$.clearSelect(listId);},
				queryParams:$$.serializeToJson(searchFormId),
				border: true,
				nowrap: true,
				striped: true,
				pagination:true,
				rownumbers:true,
				showFooter:false, 
				singleSelect:true,
				pageSize : $$.pageSize,
				pageList : $$.pageList,
				toolbar: gridMenuId,
				loadFilter: function(data){
					if (data!=null && data.errorCode>0){
						if(data.msg!=null && data.msg!=""){
							$$.showJcdfMessager('提示消息', data.msg, 'warning');
						}
					}
					return data; 
				}
			});
		};
	</script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north', split:false, border:false" style="padding: 4px 0;">
		<fieldset style="padding: 5px; border: 1px solid #d4a375;">
			<legend>信息查询</legend>
			<form id="matrix_cross_ship_dtl_searchForm" class="search-form" method="post">
			<input type="hidden" id="su_dbctCd_total" name="su_dbctCd_total" disabled="disabled">
			<input type="hidden" id="sel_cd" name="sel_cd" disabled="disabled">
			<input type="hidden" id="sel_level" name="sel_level" disabled="disabled"> 
			<input type="hidden" id="dbctE" name="sel_dbct_id" disabled="disabled">
				<table cellpadding="2" style="width: 100%">
				<tr>
						<td align="right">起始时间：</td>
						<td>
							<input type="text" id="start_dt" name="start_dt" class="easyui-datetimebox"
							data-options="" 
							 /> 
						</td>
						<td align="right">终止时间：</td>
						<td>
							<input type="text" id="end_dt" name="end_dt" class="easyui-datetimebox"
							data-options="" 
							 /> 
						</td>
						<td align="right">分拨中心：</td>
						<td >
							<input type="text" id="sel_dbct" name="sel_dbct_id" style="width: 150px;" />
						</td>
						<td>
							<a class="easyui-linkbutton" iconCls="icon-search" style="margin-right: 20px;" onclick="searchData('matrix_cross_ship_dtl_searchData',urlSearch)">查询</a>
						</td>
					</tr>
					<tr>
						<td align="right">设备编号：</td>
						<td>
							<input type="text" id="eqptCd" name="eqpt_id" 
								onkeyup="this.value=this.value.replace(/[\W]/g,'')" onblur="this.value=this.value.replace(/[\W]/g,'')"/>
						</td>
						<!-- <td align="center">到</td> -->
						<td align="right">供应台号：</td>
						<td>
							<input type="text" id="itmId" name="itm_id" 
								onkeyup="this.value=this.value.replace(/[\W]/g,'')" onblur="this.value=this.value.replace(/[\W]/g,'')"/>
						</td>
						<td align="right">单号：</td>
						<td>
							<input type="text" id="shipId" name="ship_id" 
								onkeyup="this.value=this.value.replace(/[\W]/g,'')" onblur="this.value=this.value.replace(/[\W]/g,'')"/>
						</td>
						<td >
							<a class="easyui-linkbutton" iconCls="icon-reload" style="margin-right: 20px;" onclick="searchReset()">重置</a>
						</td>
					</tr>
					<tr>
						<td align="right">物理格口号：</td>
						<td style="width: 260px;">
							<input type="text" id="physPortCd" name="phys_port_cd" 
								onkeyup="this.value=this.value.replace(/[\W]/g,'')" onblur="this.value=this.value.replace(/[\W]/g,'')"/>
						
							<input type="checkbox" id="add_cd" name="add_cd" 
								value="1"/>
							<span>人工指定格口</span></td>
						<td align="right">逻辑格口号：</td>
						<td >
							<input type="text" id="portCd" name="port_cd" class="easyui-numberbox" missingMessage="必须填写数字" precision="0" min="0"
								onkeyup="this.value=this.value.replace(/[\W]/g,'')" onblur="this.value=this.value.replace(/[\W]/g,'')"/>
						</td>
						<td align="right">面单类型：</td>
						<td >
							<input type="text" id="ship_typ" name="ship_typ" style="width: 150px;" />
						</td>
						<td>
							<a class="easyui-linkbutton" iconCls="icon-search" style="margin-right: 20px;" onclick="exportExcel('matrix_cross_ship_dtl_exportEntities',urlExport)">导出</a>
						</td>
					</tr>
					<tr>
						<td align="right">操作类型：</td>
						<td colspan="5" >
							<select id="operTyp" name="oper_typ">
								<option value="">-请选择-</option>
								<option value="0">发出交叉带</option>
								<option value="1">到达交叉带</option>
						</select></td>
						
					</tr>
				</table>
			</form>
		</fieldset>
	</div>
	<div data-options="region:'center', split:false, border:false" style="padding: 0 0px;">
		<table id="matrix_cross_ship_dtl" fit="true"></table>
	</div>
</body>
</html>