<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/gray/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../../js/validate.js"></script>
	<script type="text/javascript" src="../../js/json2.js"></script>
	<script type="text/javascript" src="../../js/jcdf-1.0.js"></script>
	<script type="text/javascript" src="../../js/jcdf-contants-1.0.js"></script>
	<script type="text/javascript" src="../../js/echarts-all.js"></script>
	<script type="text/javascript" src="../../js/combobox-company.js"></script>
	<script type="text/javascript" src="../../js/tool.js"></script>
	<script type="text/javascript" src="../../js/jcdf-index-1.0.js"></script>
	
	<script type="text/javascript">
		var objectName = '高拍矩阵格口识别率统计表';
		var listTemplate = '#matrix_hei_porRt';
		var listId = "matrix_hei_porRt";
		var formSearchTemplate = '#matrix_hei_porRt_searchForm';
		var searchFormId = "matrix_hei_porRt_searchForm";
		var gridMenuId = '#matrix_hei_porRt_menu';
		
		var urlSearch = appId + '/actions/matrixship/porRt/searchData.do?actionId=matrix_hei_porRt_searchData';
		var urlExport= appId + '/actions/matrixship/porRt/exportEntities.do?actionId=matrix_hei_porRt_exportEntities';
		var ddicUrl = appId + '/actions/common/domain/getDomains.do?actionId=system_getDomains&domainId=';
		var pageId = 'matrix_hei_porRt';
		
		var urlResource = appId + "/actions/common/user/getResources.do?actionId=system_getResources&resource_id=";
		var urlActionForm = ""; //action form url
		var authActions = {}; //当前用户授权的行为项目
		//当前用户需要特殊处理的按钮，不在menubar上显示的 
		var isDatagridLoaded = false;
		var thisUrl = document.URL;
		
		$(function(){
			$('#start_dt,#end_dt').datetimebox({
				'editable':false,
				'showSeconds':false
			});
			$('#ship_typ').combobox({    
 			    url:appId+"/actions/matrixCross/tool/getAllShipTypName.do?actionId=matrix_cross_tool_getAllShipTypName",    
			    valueField:'id',    
			    textField:'name',
			    editable:false,
		    	filter: function(q, row){
		 			var opts = $(this).combobox('options');
		 			return row[opts.textField].indexOf(q) > -1;
		 		},
		 		loadFilter:function(oData){
			    	var data = oData.data;
			    	data.unshift({"id":"","name":"请选择"});
			    	return data;
			    }
						
			});  
			authControl();
			loadDatagrid();
			var params = thisUrl.split('?')[1].replace(/%20/g, " ");
		});
		/* 日期格式化  只显示到小时。
		function ww3(date){  
	        var y = date.getFullYear();  
	        var m = date.getMonth()+1;  
	        var d = date.getDate();  
	        var h = date.getHours();  
	        var str = y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d)+':'+(h<10?('0'+h):h);  
	        return str;  
	    }  
	    function w3(s){  
	        if (!s) return new Date();  
	        var y = s.substring(0,4);  
	        var m =s.substring(5,7);  
	        var d = s.substring(8,10);  
	        var h = s.substring(11,14);  
	        var min = s.substring(15,17);  
	        var sec = s.substring(18,20);  
	        if (!isNaN(y) && !isNaN(m) && !isNaN(d) && !isNaN(h) && !isNaN(min) && !isNaN(sec)){  
	            return new Date(y,m-1,d,h,min,sec);  
	        } else {  
	            return new Date();  
	        }  
	    }  */
		
		function authControl(){
			var userData = null;
			$.ajax({
				type : "POST",
				url : c_url_get_user_profile,
				cache : false,
				async: false,
				dataType : "json",
				success : function(data) {
					if (null != data && data.errorCode==0) {
						userData = data.data;
					} else {
						$$.showJcdfMessager('提示消息', data.msg, 'warning'); 
					}
				}
			});
			$.each( userData.user_roles, function(i, n){
	             var roleVales = n.split("_");  
	             //分拨中心账号
	             if(roleVales[0] == "dbct"){
	            	 var dbctName = '';
	            	 $.ajax({
	     				type : "POST",
	     				url :  appId+"/actions/tool/getOrgInf.do?actionId=tool_getOrgInf&sel_cd="+roleVales[1],
	     				cache : false,
	     				async: false,
	     				dataType : "json",
	     				success : function(data) {
	     					if (null != data && data.errorCode==0) {
	     						dbctName = data.data.orgName+'('+data.data.orgCd+')';
	     					} else {
	     						$$.showJcdfMessager('提示消息', data.msg, 'warning'); 
	     					}
	     				}
	     			});
	            	 $('#sel_dbct').val(dbctName);
		         		$('#dbctE').attr("disabled",false);
		         		 $('#dbctE').val(roleVales[1]);
		         		$('#sel_dbct').attr("disabled",true);
	         		 return false;
	             }
	           	 //省总账号
	             else if(roleVales[0] == "prov"){
	            	 $('#sel_dbct').combobox({
		     			    url:appId+"/actions/tool/getRegion.do?actionId=tool_getRegion&sel_level=14&sel_cd="+roleVales[1],    
		     			    valueField:'id',    
		     			    textField:'name',
		     				filter: function(q, row){
								var opts = $(this).combobox('options');
								return row[opts.textField].indexOf(q) > -1;
							},
			                onHidePanel : function() {  
			                	    var _options = $(this).combobox('options');  
			                	    var _data = $(this).combobox('getData');/* 下拉框所有选项 */  
			                	    var _value = $(this).combobox('getValue');/* 用户输入的值 */  
			                	    var _b = false;/* 标识是否在下拉列表中找到了用户输入的字符 */  
			                	    for (var i = 0; i < _data.length; i++) {  
			                	        if (_data[i][_options.valueField] == _value) {  
			                	            _b=true;  
			                	            break;  
			                	        }  
			                	    }  
			                	    if(!_b){  
			                	        $(this).combobox('setValue', '');  
			                	    }  
			                	}, 
		     			    loadFilter:function(oData){
		     			    	var data = oData.data;
		     			    	for(var i in data){
		     			    		data[i].name = data[i].name + "(" + data[i].id + ")";
		     			    	}
		     			    	data.unshift({"id":"","name":"请选择"});
		     			    	return data;
		     			    }
		     			});
	            	 	$('#sel_level').attr("disabled",false);
		         		$('#sel_level').val('14');
		         		//省总账号
		         		$('#sel_cd').attr("disabled",false);
		         		$('#sel_cd').val(roleVales[1]);
		            	return false;
		         }
	             //总部账号
	             else if(roleVales[0] == "hq" || roleVales[0] == "superAdmin"){
	            	 $('#sel_dbct').combobox({
	     			    url:appId+"/actions/tool/getRegion.do?actionId=tool_getRegion&sel_level=444&sel_cd=",    
	     			    valueField:'id',    
	     			    textField:'name',
	     				filter: function(q, row){
							var opts = $(this).combobox('options');
							return row[opts.textField].indexOf(q) > -1;
						},
		                onHidePanel : function() {  
		                	    var _options = $(this).combobox('options');  
		                	    var _data = $(this).combobox('getData');/* 下拉框所有选项 */  
		                	    var _value = $(this).combobox('getValue');/* 用户输入的值 */  
		                	    var _b = false;/* 标识是否在下拉列表中找到了用户输入的字符 */  
		                	    for (var i = 0; i < _data.length; i++) {  
		                	        if (_data[i][_options.valueField] == _value) {  
		                	            _b=true;  
		                	            break;  
		                	        }  
		                	    }  
		                	    if(!_b){  
		                	        $(this).combobox('setValue', '');  
		                	    }  
		                	}, 
	     			    loadFilter:function(oData){
	     			    	var data = oData.data;
	     			    	for(var i in data){
	     			    		data[i].name = data[i].name + "(" + data[i].id + ")";
	     			    	}
	     			    	data.unshift({"id":"","name":"请选择"});
	     			    	return data;
	     			    }
	     			});
	            	return false;
	             }
			});
	}

		function refresh(buttonId,actionUrl){
			$.ajax({
				   type: "POST",
				   url: actionUrl+"?actionId="+buttonId,
				   dataType:"json",
				   success: function(data){
				   	 	$$.closeProcessingDialog();
						if (data && data.errorCode == 0) {
							$$.showJcdfMessager('提示消息', '操作成功', 'info');
						} else {
							$$.showJcdfMessager('提示消息', data.msg, 'warning');
						}
				   }
			});
		};
		
		function searchData(buttonId,actionUrl){
			var start=$("#start_dt").datetimebox("getValue"); 
			var end=$("#end_dt").datetimebox("getValue");
			if(start == "" || end == ""){
				$$.showJcdfMessager('提示信息','日期不得为空','warning');
				return false;
			}
			start = start.replace(/-/g,'/'); 
			end = end.replace(/-/g,'/'); 
			
			var timestampStart = new Date(start).getTime();
			var timestampEnd = new Date(end).getTime();
			var result=timestampEnd-timestampStart;
			if(result<0){
				$$.showJcdfMessager('提示消息', '结束时间必须晚于开始时间，请重新选择！', 'warning');
				return false;
			}
			
			var params = $$.serializeToJson(formSearchTemplate);
			var json = { "search_condition" : JSON.stringify(params) };
			if(isDatagridLoaded){
				$(listTemplate).datagrid('load', json );
			}else{
				$(listTemplate).datagrid({
					queryParams: json,
					url:urlSearch			
				});
				isDatagridLoaded = true;
			}	
		};
		
		function exportExcel(buttonId,actionUrl){
			var params = $$.serializeToJson(formSearchTemplate);
			$('#'+searchFormId).form('submit',{    
			    url:actionUrl,    
			    onSubmit: function(param){
			    	param.search_condition = JSON.stringify(params)
			    },
			    success: function(data){  
			    	if (data==null || data==""){
				        $$.showJcdfMessager('提示消息', "上次请求未完成，请稍候！", 'warning');
			    	}else{
				    	var oData = JSON.parse(data);
				        if (oData&&oData.errorCode){   
				        	$$.showJcdfMessager('提示消息', oData.msg, 'warning');   
				        } 
			      }
			    } 
			}); 		
		};
		
		function searchReset(){
			$(formSearchTemplate).form('reset');
			$("#sel_dbct").val($("#dbctE").val());
		};
		
		//分拨中心跳转明细表
		function redirctDetail(dbctName){
		  //var dbctcd=dbctName.split('(')[1].split(')')[0];
			var dbctcd="";
			if(dbctName.split('(')[1]){
			 dbctcd = dbctName.split('(')[1].split(')')[0];
			}else if(dbctName!=""){
			 dbctcd = dbctName;
			}
		 
		  var start_date=$("#start_dt").datetimebox("getValue");
		  var end_date=$("#end_dt").datetimebox("getValue");
		  var detailUrl = "../../ui/view/matrixShipment/matrix_shipment_detail_list.html?actionId=matrix_shipment_detail_list";
		  var href = detailUrl+"&dbct="+dbctcd+"&start_date="+start_date+"&end_date="+end_date+"&eqpt_id="+"&ln_id=";
		  href = href.replace(/ /g, "%20");
		  window.parent.openNewTab2("高拍矩阵操作票件明细表",href);
		 }
		
		/**
		 * 页面加载时初始化datagrid列表并加载列表数据进行显示
		 */
		function loadDatagrid() {
			$(listTemplate).datagrid({
				title:objectName+'列表',
				height:$$.getDatagridHeight(),
				width:$$.getDatagridWidth(),
				idField:'',
				columns:[
				         	[
					         	{field:'dbctName',title:'分拨中心',width:240,align:'center',rowspan:1,
					         		styler: function(value,row,index){
								          if(row.dbctName != '合计'){
									          return 'text-decoration:underline;color:blue;';
								          }else{
									           return value;
								          }
								        }, 
							         formatter:function(value, row, index){
								          if(row.dbctName != '合计'){
								          	return "<a onclick=\"redirctDetail('"+row.dbctName+"')\">"+value+"</a>";
								          }else{
								          	return value;
								          }
							         }
					         	},
					         	{field:'shipTyp',title:'面单类型',width:150,align:'center',rowspan:1},
					         	{field:'operCnt',title:'操作总数',width:100,align:'center',rowspan:1},
					         	{field:'sndTotCnt',title:'发出数量',width:100,align:'center',rowspan:1},
								{field:'sndIdCnt',title:'发出识别数',width:100,align:'center',rowspan:1},
								{field:'sndTotRate',title:'发出比率',width:80,align:'center',rowspan:1,
									formatter: function(value,row,index){
										if (row.sndTotRate=='0.00'|| !row.sndTotRate){
											return '0%';
										}else if (row.sndTotRate=='100.00'){
											return '100%';
										}else{
											return row.sndTotRate+'%';
										}
									}
								},
								{field:'sndIdRate',title:'发出识别率',width:80,align:'center',rowspan:1,
									formatter: function(value,row,index){
										if (row.sndIdRate=='0.00' || !row.sndIdRate){
											return '0%';
										}else if (row.sndIdRate=='100.00'){
											return '100%';
										}else{
											return row.sndIdRate+'%';
										}
									}
								},
								{field:'arvTotCnt',title:'到达总数',width:80,align:'center',rowspan:1},
								{field:'arvIdCnt',title:'到达识别数',width:80,align:'center',rowspan:1},
								{field:'arvRecogRate',title:'到达识别率',width:80,align:'center',rowspan:1,
									formatter: function(value,row,index){
										if (row.arvRecogRate=='0.00'|| !row.arvRecogRate){
											return '0%';
										}else if (row.arvRecogRate=='100.00'){
											return '100%';
										}else{
											return row.arvRecogRate+'%';
										}
									}
								},
								{field:'totalRecogRate',title:'总识别率',width:80,align:'center',rowspan:1,
									formatter: function(value,row,index){
										if (row.totalRecogRate=='0.00'|| !row.totalRecogRate){
											return '0%';
										}else if (row.totalRecogRate=='100.00'){
											return '100%';
										}else{
											return row.totalRecogRate+'%';
										}
									}
								},
								{field:'unIdCnt',title:'未识别数',width:80,align:'center',rowspan:1}
							]
				         ],
				onBeforeLoad:function(){$$.clearSelect(listId);},
				queryParams:$$.serializeToJson(searchFormId),
				border: true,
				nowrap: true,
				striped: true,
				pagination:true,
				rownumbers:true,
				showFooter:false, 
				singleSelect:true,
				pageSize : $$.pageSize,
				pageList : $$.pageList,
				toolbar: gridMenuId,
				loadFilter: function(data){
					if (data!=null && data.errorCode>0){
						if(data.msg!=null && data.msg!=""){
							$$.showJcdfMessager('提示消息', data.msg, 'warning');
						}
					}
					return data; 
				},
				onLoadSuccess:function(data){
				      if (data.rows.length > 0) {
	                     //调用mergeCellsByField()合并单元格
	                     mergeCellsByField(listId, "dbctName");
				      }
			    }
			});
		};
		
		
		//合并
		function mergeCellsByField(tableID, colList) {
			var colArray = colList.split(",");
			var tTable = $("#" + tableID);
			var tableRows = tTable.datagrid("getRows");
			var tableRowCnts = tableRows.length;
			var rowspan;
			var preTxt = "";
			var curTxt = "";
			//合并单列 行相同的
			for (j = colArray.length - 1; j >= 0; j--) {
				preTxt = "";
				rowspan = 1;
				for (i = 0; i <= tableRowCnts; i++) {
					if (i == tableRowCnts) {
						curTxt = "";
					} else {
						curTxt = tableRows[i][colArray[j]];
					}
					
					if (preTxt == curTxt) {
						rowspan += 1;
					} else {
						tTable.datagrid("mergeCells", {
							index : i - rowspan,
							field : colArray[j],//合并字段
							rowspan : rowspan,
							colspan : null
						});
						rowspan = 1;
					}
					preTxt = curTxt;
				}
			}
			//合计列字段合并
			for (i = 0; i <= tableRowCnts - 1; i++) {
				var txt = tableRows[i].dbctName;
				if (("" + txt).indexOf("合计") >= 0) {
					tTable.datagrid("mergeCells", {
						index : i,
						field : 'dbctName',//合并字段
						rowspan : null,
						colspan : 2
					});
				}
			}
		}
	</script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north', split:false, border:false" style="padding: 4px 0;">
		<fieldset style="padding: 5px; border: 1px solid #d4a375;">
			<legend>信息查询</legend>
			<form id="matrix_hei_porRt_searchForm" class="search-form" method="post">
				<input type="hidden" id="sel_cd" name="sel_cd" disabled="disabled">
				<input type="hidden" id="sel_level" name="sel_level" disabled="disabled"> 
				<input type="hidden" id="dbctE" name="sel_dbct_id" disabled="disabled">
				
				<table cellpadding="2" style="width: 100%">
				<tr>
						<td align="right">起始时间：</td>
						<td>
							<input type="text" id="start_dt" name="start_dt" class="easyui-datetimebox"
							data-options="" 
							 /> 
						</td>
						<td align="right">终止时间：</td>
						<td>
							<input type="text" id="end_dt" name="end_dt" class="easyui-datetimebox"
							data-options="" 
							 /> 
						</td>
						<td align="right">分拨中心：</td>
						<td >
							<input type="text" id="sel_dbct" name="sel_dbct_id" style="width: 150px;" />
						</td>
						<td>
							<a class="easyui-linkbutton" iconCls="icon-search" style="margin-right: 20px;" onclick="searchData('matrix_hei_porRt_searchData',urlSearch)">查询</a>
						</td>
						<td ><a class="easyui-linkbutton"
							iconCls="icon-reload" style="margin-right: 20px;"
							onclick="searchReset()">重置</a></td>
					</tr>
					<tr>
						<td align="right">面单类型：</td>
						<td colspan="5" >
							<input type="text" id="ship_typ" name="ship_typ" style="width: 150px;" />
						</td>
						<td>
							<a class="easyui-linkbutton" iconCls="icon-download" style="margin-right: 20px;" onclick="exportExcel('matrix_hei_porRt_exportEntities',urlExport)">导出</a>
 						</td>
					</tr>
				</table>
			</form>
		</fieldset>
	</div>
	<div data-options="region:'center', split:false, border:false" style="padding: 0 0px;">
		<table id="matrix_hei_porRt" fit="true"></table>
	</div>
</body>
</html>